# Build output
output_RDB3/
output_misra/
output_slave/
output_slave_misra/
build_logs/

# WorkBuddy project data
.workbuddy/

# IDE / Eclipse
.metadata/
.settings/
.project
.cproject

# Git
.git/
DebugRAM
generate_RDB3
