Parsed function:Eth_43_PFE_BmuIrqHdlr
Parsed function:Eth_43_PFE_HifIrqHdlr_0
Parsed function:oal_irq_clear_bmu_interrupt_status_flag
Parsed function:oal_irq_detect_handle_bmu_spurious_interrupt
Parsed function:oal_irq_detect_hif_spurious_interrupt
Dump after hash based groups
Congruence classes: 7 (unique hash values: 7), with total: 7 items
Class size histogram [num of members]: number of classe number of classess
[1]: 7 classes


Dump after WPA based types groups
Congruence classes: 7 (unique hash values: 7), with total: 7 items
Class size histogram [num of members]: number of classe number of classess
[1]: 7 classes


Worklist has been filled with: 5
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 7 (unique hash values: 7), with total: 7 items
Class size histogram [num of members]: number of classe number of classess
[1]: 7 classes


Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 7 (unique hash values: 7), with total: 7 items
Class size histogram [num of members]: number of classe number of classess
[1]: 7 classes


Worklist has been filled with: 5
Address reference subdivision created: 0 new classes.
Congruence classes: 7 (unique hash values: 7), with total: 7 items
Class size histogram [num of members]: number of classe number of classess
[1]: 7 classes



Item count: 7
Congruent classes before: 7, after: 7
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Fraction of visited symbols: 0.00%

Eth_43_PFE_BmuIrqHdlr ()
{
  bool_t bDetectSpuriousIsrBmu2;
  bool_t bDetectSpuriousIsrBmu1;
  unsigned char bDetectSpuriousIsrBmu1.3_1;
  unsigned char bDetectSpuriousIsrBmu2.4_2;
  unsigned char bDetectBmuInit.5_3;
  _Bool Eth_PFE_LLD_bIrqInitStatus.0_14;

  <bb 2> [local count: 1073741823]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  bDetectSpuriousIsrBmu1 = 0;
  # DEBUG BEGIN_STMT
  bDetectSpuriousIsrBmu2 = 0;
  # DEBUG BEGIN_STMT
  # DEBUG INLINE_ENTRY oal_irq_check_driver_init_status
  # DEBUG BEGIN_STMT
  Eth_PFE_LLD_bIrqInitStatus.0_14 ={v} Eth_PFE_LLD_bIrqInitStatus;
  # DEBUG D#2 => (const bool_t) Eth_PFE_LLD_bIrqInitStatus.0_14
  # DEBUG init_status => D#2
  # DEBUG BEGIN_STMT
  # DEBUG init_status => NULL
  # DEBUG bDriverInitStatus => D#2
  # DEBUG BEGIN_STMT
  if (Eth_PFE_LLD_bIrqInitStatus.0_14 != 0)
    goto <bb 3>; [33.00%]
  else
    goto <bb 6>; [67.00%]

  <bb 3> [local count: 354334802]:
  # DEBUG BEGIN_STMT
  oal_irq_detect_handle_bmu_spurious_interrupt (&bDetectSpuriousIsrBmu1, &bDetectSpuriousIsrBmu2);
  # DEBUG BEGIN_STMT
  bDetectSpuriousIsrBmu1.3_1 = bDetectSpuriousIsrBmu1;
  if (bDetectSpuriousIsrBmu1.3_1 == 0)
    goto <bb 5>; [33.00%]
  else
    goto <bb 4>; [67.00%]

  <bb 4> [local count: 237404317]:
  bDetectSpuriousIsrBmu2.4_2 = bDetectSpuriousIsrBmu2;
  if (bDetectSpuriousIsrBmu2.4_2 == 0)
    goto <bb 5>; [50.00%]
  else
    goto <bb 9>; [50.00%]

  <bb 5> [local count: 235632643]:
  # DEBUG BEGIN_STMT
  oal_irq_common_handler (5);
  goto <bb 9>; [100.00%]

  <bb 6> [local count: 719407022]:
  # DEBUG BEGIN_STMT
  bDetectBmuInit.5_3 ={v} bDetectBmuInit;
  if (bDetectBmuInit.5_3 == 1)
    goto <bb 7>; [34.00%]
  else
    goto <bb 8>; [66.00%]

  <bb 7> [local count: 244598387]:
  # DEBUG BEGIN_STMT
  oal_irq_clear_bmu_interrupt_status_flag ();
  goto <bb 9>; [100.00%]

  <bb 8> [local count: 474808634]:
  # DEBUG BEGIN_STMT
  oal_irq_common_handler (5);

  <bb 9> [local count: 1073741824]:
  bDetectSpuriousIsrBmu1 ={v} {CLOBBER};
  bDetectSpuriousIsrBmu2 ={v} {CLOBBER};
  return;

}


Eth_43_PFE_HifIrqHdlr_0 ()
{
  uint32 interrupt_src;
  uint32 interrupt_src;
  unsigned char _1;
  _Bool Eth_PFE_LLD_bIrqInitStatus.0_6;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG INLINE_ENTRY oal_irq_check_driver_init_status
  # DEBUG BEGIN_STMT
  Eth_PFE_LLD_bIrqInitStatus.0_6 ={v} Eth_PFE_LLD_bIrqInitStatus;
  # DEBUG D#1 => (const bool_t) Eth_PFE_LLD_bIrqInitStatus.0_6
  # DEBUG init_status => D#1
  # DEBUG BEGIN_STMT
  # DEBUG init_status => NULL
  # DEBUG bDriverInitStatus => D#1
  # DEBUG BEGIN_STMT
  if (Eth_PFE_LLD_bIrqInitStatus.0_6 != 0)
    goto <bb 3>; [33.00%]
  else
    goto <bb 6>; [67.00%]

  <bb 3> [local count: 354334802]:
  # DEBUG BEGIN_STMT
  _1 = oal_irq_detect_hif_spurious_interrupt (0);
  if (_1 == 0)
    goto <bb 4>; [33.00%]
  else
    goto <bb 5>; [67.00%]

  <bb 4> [local count: 116930485]:
  # DEBUG BEGIN_STMT
  oal_irq_common_handler (0);
  goto <bb 7>; [100.00%]

  <bb 5> [local count: 237404317]:
  # DEBUG BEGIN_STMT
  # DEBUG int_src_var_addr => 1175028064
  # DEBUG INLINE_ENTRY oal_irq_clear_hif_interrupt_status_flag
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  interrupt_src_7 ={v} MEM[(volatile uint32_t *)1175028064B];
  # DEBUG interrupt_src => interrupt_src_7
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  MEM[(volatile uint32_t *)1175028064B] ={v} interrupt_src_7;
  # DEBUG BEGIN_STMT
  goto <bb 7>; [100.00%]

  <bb 6> [local count: 719407023]:
  # DEBUG BEGIN_STMT
  # DEBUG int_src_var_addr => 1175028064
  # DEBUG INLINE_ENTRY oal_irq_clear_hif_interrupt_status_flag
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  interrupt_src_8 ={v} MEM[(volatile uint32_t *)1175028064B];
  # DEBUG interrupt_src => interrupt_src_8
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  MEM[(volatile uint32_t *)1175028064B] ={v} interrupt_src_8;
  # DEBUG BEGIN_STMT

  <bb 7> [local count: 1073741824]:
  # DEBUG int_src_var_addr => NULL
  # DEBUG interrupt_src => NULL
  # DEBUG int_src_var_addr => NULL
  # DEBUG interrupt_src => NULL
  return;

}


oal_irq_clear_bmu_interrupt_status_flag ()
{
  uint32 interrupt_src;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  interrupt_src_2 ={v} MEM[(volatile uint32_t *)1174962208B];
  # DEBUG interrupt_src => interrupt_src_2
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  MEM[(volatile uint32_t *)1174962208B] ={v} interrupt_src_2;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  interrupt_src_4 ={v} MEM[(volatile uint32_t *)1174978592B];
  # DEBUG interrupt_src => interrupt_src_4
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  MEM[(volatile uint32_t *)1174978592B] ={v} interrupt_src_4;
  # DEBUG BEGIN_STMT
  return;

}


oal_irq_detect_handle_bmu_spurious_interrupt (bool_t * bDetectSpuriousIsrBmu1, bool_t * bDetectSpuriousIsrBmu2)
{
  uint32 int_src;
  uint32 int_en;
  long unsigned int _1;
  long unsigned int _2;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  int_en_6 ={v} MEM[(volatile uint32_t *)1174962212B];
  # DEBUG int_en => int_en_6
  # DEBUG BEGIN_STMT
  int_src_7 ={v} MEM[(volatile uint32_t *)1174962208B];
  # DEBUG int_src => int_src_7
  # DEBUG BEGIN_STMT
  _1 = int_en_6 & int_src_7;
  if (_1 == 0)
    goto <bb 3>; [50.00%]
  else
    goto <bb 4>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  MEM[(volatile uint32_t *)1174962208B] ={v} int_src_7;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  *bDetectSpuriousIsrBmu1_9(D) = 1;

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  int_en_11 ={v} MEM[(volatile uint32_t *)1174978596B];
  # DEBUG int_en => int_en_11
  # DEBUG BEGIN_STMT
  int_src_12 ={v} MEM[(volatile uint32_t *)1174978592B];
  # DEBUG int_src => int_src_12
  # DEBUG BEGIN_STMT
  _2 = int_en_11 & int_src_12;
  if (_2 == 0)
    goto <bb 5>; [50.00%]
  else
    goto <bb 6>; [50.00%]

  <bb 5> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  MEM[(volatile uint32_t *)1174978592B] ={v} int_src_12;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  *bDetectSpuriousIsrBmu2_14(D) = 1;

  <bb 6> [local count: 1073741824]:
  return;

}


oal_irq_detect_hif_spurious_interrupt (oal_irq_idx_t idx)
{
  uint32 int_src;
  uint32 int_en;
  bool_t bRet;
  unsigned int _1;
  volatile uint32_t * _2;
  unsigned int _3;
  volatile uint32_t * _4;
  long unsigned int _5;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG bRet => 0
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = cbus_hif_int_en_var_addr[idx_8(D)];
  _2 = (volatile uint32_t *) _1;
  int_en_9 ={v} *_2;
  # DEBUG int_en => int_en_9
  # DEBUG BEGIN_STMT
  _3 = cbus_hif_int_src_var_addr[idx_8(D)];
  _4 = (volatile uint32_t *) _3;
  int_src_10 ={v} *_4;
  # DEBUG int_src => int_src_10
  # DEBUG BEGIN_STMT
  _5 = int_en_9 & int_src_10;
  if (_5 == 0)
    goto <bb 3>; [50.00%]
  else
    goto <bb 4>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  # DEBUG bRet => 1

  <bb 4> [local count: 1073741824]:
  # bRet_6 = PHI <0(2), 1(3)>
  # DEBUG bRet => bRet_6
  # DEBUG BEGIN_STMT
  return bRet_6;

}


