Parsed function:fci_rt_db_drop_all
Parsed function:fci_rt_db_get_next
Parsed function:fci_rt_db_get_first
Parsed function:fci_rt_db_remove
Parsed function:fci_rt_db_add
Parsed function:fci_rt_db_init
Parsed function:fci_rt_db_match_criterion
Dump after hash based groups
Congruence classes: 7 (unique hash values: 7), with total: 7 items
Class size histogram [num of members]: number of classe number of classess
[1]: 7 classes


Dump after WPA based types groups
Congruence classes: 7 (unique hash values: 7), with total: 7 items
Class size histogram [num of members]: number of classe number of classess
[1]: 7 classes


Worklist has been filled with: 3
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 7 (unique hash values: 7), with total: 7 items
Class size histogram [num of members]: number of classe number of classess
[1]: 7 classes


Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 7 (unique hash values: 7), with total: 7 items
Class size histogram [num of members]: number of classe number of classess
[1]: 7 classes


Worklist has been filled with: 3
Address reference subdivision created: 0 new classes.
Congruence classes: 7 (unique hash values: 7), with total: 7 items
Class size histogram [num of members]: number of classe number of classess
[1]: 7 classes



Item count: 7
Congruent classes before: 7, after: 7
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Fraction of visited symbols: 0.00%

fci_rt_db_drop_all (struct fci_rt_db_t * db)
{
  uint32_t index;
  struct pfe_isa_t * _1;
  long unsigned int _2;

  <bb 2> [local count: 118111600]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ret => 0
  # DEBUG BEGIN_STMT
  index_7 = db_6(D)->rtdb_entries.occupied_items_count;
  # DEBUG index => index_7
  goto <bb 4>; [100.00%]

  <bb 3> [local count: 955630223]:
  # DEBUG BEGIN_STMT
  _1 = &db_6(D)->rtdb_entries;
  _2 = index_3 + 4294967295;
  isa_release_subscript (_1, _2);
  # DEBUG BEGIN_STMT
  # DEBUG index => _2

  <bb 4> [local count: 1073741824]:
  # index_3 = PHI <index_7(2), _2(3)>
  # DEBUG index => index_3
  # DEBUG BEGIN_STMT
  if (index_3 != 0)
    goto <bb 3>; [89.00%]
  else
    goto <bb 5>; [11.00%]

  <bb 5> [local count: 118111601]:
  # DEBUG BEGIN_STMT
  return 0;

}


fci_rt_db_get_next (struct fci_rt_db_t * db)
{
  struct pfe_isa_t * isa;
  bool_t match;
  struct fci_rt_db_entry_t * entry;
  long unsigned int _2;
  long unsigned int _3;
  long unsigned int _4;
  long unsigned int _5;

  <bb 2> [local count: 88896196]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG match => 0
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  isa_15 = &db_14(D)->rtdb_entries;
  # DEBUG isa => isa_15
  # DEBUG BEGIN_STMT
  goto <bb 10>; [100.00%]

  <bb 3> [local count: 1014686024]:
  # DEBUG BEGIN_STMT
  entry_19 = isa_item (isa_15, _4);
  # DEBUG entry => entry_19
  # DEBUG BEGIN_STMT
  _2 = db_14(D)->next_item;
  _3 = _2 + 1;
  db_14(D)->next_item = _3;
  # DEBUG BEGIN_STMT
  if (entry_19 != 0B)
    goto <bb 4>; [53.47%]
  else
    goto <bb 6>; [46.53%]

  <bb 4> [local count: 542552617]:
  # DEBUG BEGIN_STMT
  match_22 = fci_rt_db_match_criterion (db_14(D), entry_19);
  # DEBUG match => match_22
  # DEBUG BEGIN_STMT
  if (match_22 == 1)
    goto <bb 7>; [5.50%]
  else
    goto <bb 6>; [94.50%]

  <bb 6> [local count: 984845630]:
  # entry_23 = PHI <entry_19(3), entry_19(4)>
  # match_13 = PHI <match_9(3), match_22(4)>

  <bb 10> [local count: 1073741824]:
  # entry_6 = PHI <entry_23(6), entry_16(D)(2)>
  # match_9 = PHI <match_13(6), 0(2)>
  # DEBUG match => match_9
  # DEBUG entry => entry_6
  # DEBUG BEGIN_STMT
  _4 = db_14(D)->next_item;
  _5 = MEM[(struct pfe_isa_t *)db_14(D) + 56B].occupied_items_count;
  if (_4 < _5)
    goto <bb 3>; [94.50%]
  else
    goto <bb 7>; [5.50%]

  <bb 7> [local count: 88896194]:
  # entry_7 = PHI <entry_19(4), entry_6(10)>
  # match_10 = PHI <match_22(4), match_9(10)>
  # DEBUG match => match_10
  # DEBUG entry => entry_7
  # DEBUG BEGIN_STMT
  if (match_10 == 0)
    goto <bb 8>; [29.00%]
  else
    goto <bb 9>; [71.00%]

  <bb 8> [local count: 25779896]:
  # DEBUG BEGIN_STMT
  # DEBUG entry => 0B

  <bb 9> [local count: 88896194]:
  # entry_8 = PHI <entry_7(7), 0B(8)>
  # DEBUG entry => entry_8
  # DEBUG BEGIN_STMT
  return entry_8;

}


fci_rt_db_get_first (struct fci_rt_db_t * db, fci_rt_db_get_criterion_t crit, const void * arg)
{
  struct fci_rt_db_entry_t * entry;
  char_t[16] * _1;
  struct pfe_ip_addr_t * _2;
  uint8_t[6] * _3;
  uint32_t * _4;

  <bb 2> [local count: 1073419798]:
  # DEBUG BEGIN_STMT
  # DEBUG entry => 0B
  # DEBUG BEGIN_STMT
  # DEBUG is_unknown_crit => 0
  # DEBUG BEGIN_STMT
  db_8(D)->cur_crit = crit_9(D);
  # DEBUG BEGIN_STMT
  switch (crit_9(D)) <default: <L14> [14.29%], case 0: <L15> [14.29%], case 1: <L1> [14.29%], case 2: <L2> [14.29%], case 3: <L3> [14.29%], case 4: <L4> [14.29%], case 5: <L5> [14.29%]>

  <bb 4> [local count: 153391689]:
<L1>:
  # DEBUG BEGIN_STMT
  db_8(D)->cur_crit_arg.iface = arg_11(D);
  # DEBUG BEGIN_STMT
  # DEBUG is_unknown_crit => 0
  # DEBUG BEGIN_STMT
  goto <bb 10>; [100.00%]

  <bb 5> [local count: 153391689]:
<L2>:
  # DEBUG BEGIN_STMT
  _1 = &db_8(D)->cur_crit_arg.outif_name;
  autolibc_memset (_1, 0, 16);
  # DEBUG BEGIN_STMT
  autolibc_strncpy (_1, arg_11(D), 15);
  # DEBUG BEGIN_STMT
  # DEBUG is_unknown_crit => 0
  # DEBUG BEGIN_STMT
  goto <bb 10>; [100.00%]

  <bb 6> [local count: 153391689]:
<L3>:
  # DEBUG BEGIN_STMT
  _2 = &db_8(D)->cur_crit_arg.dst_ip;
  autolibc_memcpy (_2, arg_11(D), 22);
  # DEBUG BEGIN_STMT
  # DEBUG is_unknown_crit => 0
  # DEBUG BEGIN_STMT
  goto <bb 10>; [100.00%]

  <bb 7> [local count: 153391689]:
<L4>:
  # DEBUG BEGIN_STMT
  _3 = &db_8(D)->cur_crit_arg.dst_mac;
  autolibc_memcpy (_3, arg_11(D), 6);
  # DEBUG BEGIN_STMT
  # DEBUG is_unknown_crit => 0
  # DEBUG BEGIN_STMT
  goto <bb 10>; [100.00%]

  <bb 8> [local count: 153391689]:
<L5>:
  # DEBUG BEGIN_STMT
  _4 = &db_8(D)->cur_crit_arg.id;
  autolibc_memcpy (_4, arg_11(D), 4);
  # DEBUG BEGIN_STMT
  # DEBUG is_unknown_crit => 0
  # DEBUG BEGIN_STMT

  <bb 10> [local count: 920350135]:
<L15>:
  # DEBUG is_unknown_crit => NULL
  # DEBUG BEGIN_STMT
  db_8(D)->next_item = 0;
  # DEBUG BEGIN_STMT
  entry_20 = fci_rt_db_get_next (db_8(D));
  # DEBUG entry => entry_20

  <bb 11> [local count: 1073741824]:
  # entry_5 = PHI <0B(2), entry_20(10)>
<L14>:
  # DEBUG is_unknown_crit => NULL
  # DEBUG entry => entry_5
  # DEBUG BEGIN_STMT
  return entry_5;

}


fci_rt_db_remove (struct fci_rt_db_t * db, struct fci_rt_db_entry_t * entry)
{
  int32_t entry_subscript;
  struct pfe_isa_t * _1;
  long unsigned int _2;
  long int _3;
  long unsigned int _4;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ret => 0
  # DEBUG BEGIN_STMT
  _1 = &db_6(D)->rtdb_entries;
  entry_subscript_10 = isa_release (_1, entry_8(D));
  # DEBUG entry_subscript => entry_subscript_10
  # DEBUG BEGIN_STMT
  if (entry_subscript_10 >= 0)
    goto <bb 3>; [59.00%]
  else
    goto <bb 5>; [41.00%]

  <bb 3> [local count: 633507677]:
  _2 = db_6(D)->next_item;
  _3 = (long int) _2;
  if (_3 > entry_subscript_10)
    goto <bb 4>; [50.00%]
  else
    goto <bb 5>; [50.00%]

  <bb 4> [local count: 316753838]:
  # DEBUG BEGIN_STMT
  _4 = _2 + 4294967295;
  db_6(D)->next_item = _4;

  <bb 5> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  return 0;

}


fci_rt_db_add (struct fci_rt_db_t * db, struct pfe_ip_addr_t * dst_ip, uint8_t[6] * src_mac, uint8_t[6] * dst_mac, struct pfe_phy_if_t * iface, uint32_t id, void * refptr, bool_t overwrite)
{
  errno_t ret;
  struct fci_rt_db_entry_t * new_entry;
  struct pfe_isa_t * _1;
  struct pfe_ip_addr_t * _2;
  uint8_t[6] * _3;
  uint8_t[6] * _4;
  long unsigned int id.0_5;

  <bb 2> [local count: 1073741823]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ret => 0
  # DEBUG BEGIN_STMT
  new_entry_10 = fci_rt_db_get_first (db_8(D), 5, &id);
  # DEBUG new_entry => new_entry_10
  # DEBUG BEGIN_STMT
  if (new_entry_10 == 0B)
    goto <bb 3>; [17.43%]
  else
    goto <bb 6>; [82.57%]

  <bb 3> [local count: 187153200]:
  # DEBUG BEGIN_STMT
  _1 = &db_8(D)->rtdb_entries;
  new_entry_13 = isa_reserve (_1);
  # DEBUG new_entry => new_entry_13
  # DEBUG BEGIN_STMT
  if (new_entry_13 == 0B)
    goto <bb 4>; [18.75%]
  else
    goto <bb 5>; [81.25%]

  <bb 4> [local count: 35091225]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pfe_hm_report (1, 2, 1, "[%s:%d] FCI RTDB ISA exhausted, no more entries left\n", "./tools/tresos_mcore_bsw/plugins/Eth_43_PFE_TS_T40D11M14I0R0/src/fci_rt_db.c", 227, "");
  # DEBUG BEGIN_STMT
  oal_util_raise_dem_for_drv_runtime_err ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ret => 11
  # DEBUG new_entry => 0B
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  goto <bb 10>; [100.00%]

  <bb 5> [local count: 152061975]:
  # DEBUG BEGIN_STMT
  autolibc_memset (new_entry_13, 0, 48);
  # DEBUG ret => 0
  # DEBUG new_entry => new_entry_13
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  goto <bb 9>; [100.00%]

  <bb 6> [local count: 886588623]:
  # DEBUG BEGIN_STMT
  if (overwrite_11(D) == 0)
    goto <bb 10>; [35.00%]
  else
    goto <bb 9>; [65.00%]

  <bb 9> [local count: 728344581]:
  # new_entry_29 = PHI <new_entry_10(6), new_entry_13(5)>
  # DEBUG ret => NULL
  # DEBUG new_entry => NULL
  # DEBUG BEGIN_STMT
  _2 = &new_entry_29->dst_ip;
  autolibc_memcpy (_2, dst_ip_17(D), 22);
  # DEBUG BEGIN_STMT
  _3 = &new_entry_29->src_mac;
  autolibc_memcpy (_3, src_mac_19(D), 6);
  # DEBUG BEGIN_STMT
  _4 = &new_entry_29->dst_mac;
  autolibc_memcpy (_4, dst_mac_21(D), 6);
  # DEBUG BEGIN_STMT
  new_entry_29->iface = iface_23(D);
  # DEBUG BEGIN_STMT
  id.0_5 = id;
  new_entry_29->id = id.0_5;
  # DEBUG BEGIN_STMT
  new_entry_29->mtu = 0;
  # DEBUG BEGIN_STMT
  new_entry_29->refptr = refptr_27(D);

  <bb 10> [local count: 1073741824]:
  # ret_30 = PHI <115(6), 0(9), 11(4)>
  # DEBUG ret => NULL
  # DEBUG new_entry => NULL
  # DEBUG BEGIN_STMT
  return ret_30;

}


fci_rt_db_init (struct fci_rt_db_t * db)
{
  struct pfe_isa_definition_t * rtdb_isa_def;
  pfe_isa_index_t[128] * _1;
  struct fci_rt_db_entry_t[128] * _2;
  struct pfe_isa_t * _3;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  rtdb_isa_def_5 = &db_4(D)->rtdb_entries_isa_def;
  # DEBUG rtdb_isa_def => rtdb_isa_def_5
  # DEBUG BEGIN_STMT
  MEM[(struct pfe_isa_definition_t *)db_4(D) + 32B].item_count = 128;
  # DEBUG BEGIN_STMT
  MEM[(struct pfe_isa_definition_t *)db_4(D) + 32B].item_size = 48;
  # DEBUG BEGIN_STMT
  MEM[(struct pfe_isa_definition_t *)db_4(D) + 32B].flags.ordered = 1;
  # DEBUG BEGIN_STMT
  _1 = &db_4(D)->rtdb_entries_index;
  MEM[(struct pfe_isa_definition_t *)db_4(D) + 32B].item_indexes = _1;
  # DEBUG BEGIN_STMT
  _2 = &db_4(D)->rtdb_entries_pool;
  MEM[(struct pfe_isa_definition_t *)db_4(D) + 32B].items = _2;
  # DEBUG BEGIN_STMT
  MEM[(struct pfe_isa_definition_t *)db_4(D) + 32B].clear_cb = 0B;
  # DEBUG BEGIN_STMT
  _3 = &db_4(D)->rtdb_entries;
  isa_init (_3, rtdb_isa_def_5);
  return;

}


fci_rt_db_match_criterion (struct fci_rt_db_t * db, const struct fci_rt_db_entry_t * entry)
{
  bool_t match;
  <unnamed type> _1;
  struct pfe_phy_if_t * _2;
  const struct pfe_phy_if_t * _3;
  _Bool _4;
  char_t[16] * _5;
  struct pfe_phy_if_t * _6;
  const char_t * _7;
  long int _8;
  _Bool _9;
  struct pfe_ip_addr_t * _10;
  const struct pfe_ip_addr_t * _11;
  long int _12;
  _Bool _13;
  uint8_t[6] * _14;
  const uint8_t[6] * _15;
  long int _16;
  _Bool _17;
  long unsigned int _18;
  long unsigned int _19;
  _Bool _20;

  <bb 2> [local count: 1073419798]:
  # DEBUG BEGIN_STMT
  # DEBUG match => 0
  # DEBUG BEGIN_STMT
  _1 = db_24(D)->cur_crit;
  switch (_1) <default: <L6> [14.29%], case 0: <L9> [14.29%], case 1: <L1> [14.29%], case 2: <L2> [14.29%], case 3: <L3> [14.29%], case 4: <L4> [14.29%], case 5: <L5> [14.29%]>

  <bb 3> [local count: 153391689]:
<L1>:
  # DEBUG BEGIN_STMT
  _2 = entry_25(D)->iface;
  _3 = db_24(D)->cur_crit_arg.iface;
  _4 = _2 == _3;
  match_33 = (bool_t) _4;
  # DEBUG match => match_33
  # DEBUG BEGIN_STMT
  goto <bb 9>; [100.00%]

  <bb 4> [local count: 153391689]:
<L2>:
  # DEBUG BEGIN_STMT
  _5 = &db_24(D)->cur_crit_arg.outif_name;
  _6 = entry_25(D)->iface;
  _7 = pfe_phy_if_get_name (_6);
  _8 = autolibc_strcmp (_5, _7);
  _9 = _8 == 0;
  match_32 = (bool_t) _9;
  # DEBUG match => match_32
  # DEBUG BEGIN_STMT
  goto <bb 9>; [100.00%]

  <bb 5> [local count: 153391689]:
<L3>:
  # DEBUG BEGIN_STMT
  _10 = &db_24(D)->cur_crit_arg.dst_ip;
  _11 = &entry_25(D)->dst_ip;
  _12 = autolibc_memcmp (_10, _11, 22);
  _13 = _12 == 0;
  match_30 = (bool_t) _13;
  # DEBUG match => match_30
  # DEBUG BEGIN_STMT
  goto <bb 9>; [100.00%]

  <bb 6> [local count: 153391689]:
<L4>:
  # DEBUG BEGIN_STMT
  _14 = &db_24(D)->cur_crit_arg.dst_mac;
  _15 = &entry_25(D)->dst_mac;
  _16 = autolibc_memcmp (_14, _15, 6);
  _17 = _16 == 0;
  match_28 = (bool_t) _17;
  # DEBUG match => match_28
  # DEBUG BEGIN_STMT
  goto <bb 9>; [100.00%]

  <bb 7> [local count: 153391689]:
<L5>:
  # DEBUG BEGIN_STMT
  _18 = db_24(D)->cur_crit_arg.id;
  _19 = entry_25(D)->id;
  _20 = _18 == _19;
  match_26 = (bool_t) _20;
  # DEBUG match => match_26
  # DEBUG BEGIN_STMT
  goto <bb 9>; [100.00%]

  <bb 8> [local count: 153391689]:
<L6>:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG match => 0
  # DEBUG BEGIN_STMT

  <bb 9> [local count: 1073741824]:
  # match_21 = PHI <1(2), match_33(3), match_32(4), match_30(5), match_28(6), match_26(7), 0(8)>
<L9>:
  # DEBUG match => match_21
  # DEBUG BEGIN_STMT
  return match_21;

}


