Parsed function:ipc_hw_set_rx_irq_idx.isra.0
Parsed function:ipc_hw_set_tx_irq_idx.isra.0
Parsed function:ipc_hw_flush_cache_remote
Parsed function:ipc_hw_flush_cache_local
Parsed function:ipc_hw_irq_clear
Parsed function:ipc_hw_irq_notify
Parsed function:ipc_hw_irq_disable
Parsed function:ipc_hw_irq_enable
Parsed function:ipc_hw_free
Parsed function:ipc_hw_init
Parsed function:ipc_hw_set_irq_idx
Parsed function:ipc_hw_set_core
Parsed function:ipc_hw_set_local_core
Parsed function:ipc_hw_set_remote_core
Parsed function:ipc_hw_get_core_index_a53
Parsed function:ipc_hw_get_core_index_m7
Dump after hash based groups
Congruence classes: 14 (unique hash values: 14), with total: 17 items
Class size histogram [num of members]: number of classe number of classess
[1]: 11 classes
[2]: 3 classes


Dump after WPA based types groups
Congruence classes: 14 (unique hash values: 14), with total: 17 items
Class size histogram [num of members]: number of classe number of classess
[1]: 11 classes
[2]: 3 classes


Worklist has been filled with: 9
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 14 (unique hash values: 14), with total: 17 items
Class size histogram [num of members]: number of classe number of classess
[1]: 11 classes
[2]: 3 classes


Init called for 6 items (35.29%).
Dump after full equality comparison of groups
Congruence classes: 16 (unique hash values: 14), with total: 17 items
Class size histogram [num of members]: number of classe number of classess
[1]: 15 classes
[2]: 1 classes


Worklist has been filled with: 11
Address reference subdivision created: 0 new classes.
Congruence classes: 16 (unique hash values: 14), with total: 17 items
Class size histogram [num of members]: number of classe number of classess
[1]: 15 classes
[2]: 1 classes



Item count: 17
Congruent classes before: 16, after: 16
Average class size before: 1.06, after: 1.06
Average non-singular class size: 2.00, count: 1
Equal symbols: 1
Fraction of visited symbols: 5.88%

Semantic equality hit:ipc_hw_flush_cache_local->ipc_hw_flush_cache_remote
Assembler symbol names:ipc_hw_flush_cache_local->ipc_hw_flush_cache_remote

Symbols to be put in SSA form
{ D.6445 D.6611 }
Incremental SSA update started at block: 0
Number of blocks in CFG: 3
Number of blocks to update: 2 ( 67%)



Analyzing function: ipc_hw_flush_cache_remote/16
;; 1 loops found
;;
;; Loop 0
;;  header 0, latch 1
;;  depth 0, outer -1
;;  nodes: 0 1 2
;; 2 succs { 1 }

Analyzing function body size: ipc_hw_flush_cache_remote

IPA function summary for ipc_hw_flush_cache_remote/16 inlinable
  global time:     13.000000
  self size:       5
  global size:     0
  min size:       0
  self stack:      0
  global stack:    0
    size:0.000000, time:0.000000
    size:3.000000, time:2.000000,  executed if:(not inlined)
  calls:
    ipc_hw_flush_cache_local/15 function not considered for inlining
      loop depth: 0 freq:1.00 size: 2 time: 11callee size: 1 stack: 0

Unified; Wrapper has been created.


Reclaiming functions:
Reclaiming variables:
Clearing address taken flags:
ipc_hw_set_rx_irq_idx.isra.0 (const uint8 instance, const sint16 ISRA.13)
{
  sint8 err;
  int _2;
  short int _4;

  <bb 17> [local count: 1073741824]:
  # DEBUG cfg s=> cfg

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG err => 0
  # DEBUG BEGIN_STMT
  _2 = (int) instance_1(D);
  _4 = ISRA.13_22(D);
  ipc_hw_priv[_2].mscm_rx_irq = _4;
  # DEBUG BEGIN_STMT
  switch (_4) <default: <L13> [7.14%], case -1: <L0> [7.14%], case 1: <L1> [7.14%], case 2: <L2> [7.14%], case 3: <L3> [7.14%], case 22: <L4> [7.14%], case 23: <L5> [7.14%], case 68: <L6> [7.14%], case 69: <L7> [7.14%], case 164: <L8> [7.14%], case 165: <L9> [7.14%], case 166: <L10> [7.14%], case 167: <L11> [7.14%], case 168: <L12> [7.14%]>

  <bb 3> [local count: 76665166]:
<L0>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].mscm_rx_irq = -1;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 4> [local count: 76665166]:
<L1>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_rx_irq = 0;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 5> [local count: 76665166]:
<L2>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_rx_irq = 1;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 6> [local count: 76665166]:
<L3>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_rx_irq = 2;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 7> [local count: 76665166]:
<L4>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_rx_irq = 5;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 8> [local count: 76665166]:
<L5>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_rx_irq = 6;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 9> [local count: 76665166]:
<L6>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_rx_irq = 7;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 10> [local count: 76665166]:
<L7>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_rx_irq = 8;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 11> [local count: 76665166]:
<L8>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_rx_irq = 9;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 12> [local count: 76665166]:
<L9>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_rx_irq = 10;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 13> [local count: 76665166]:
<L10>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_rx_irq = 11;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 14> [local count: 76665166]:
<L11>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_rx_irq = 12;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 15> [local count: 76665166]:
<L12>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_rx_irq = 13;
  # DEBUG BEGIN_STMT

  <bb 16> [local count: 1073312328]:
  # err_5 = PHI <-3(2), 0(3), 0(4), 0(5), 0(6), 0(7), 0(8), 0(9), 0(10), 0(11), 0(12), 0(13), 0(14), 0(15)>
<L13>:
  # DEBUG err => err_5
  # DEBUG BEGIN_STMT
  return err_5;

}


ipc_hw_set_tx_irq_idx.isra.0 (const uint8 instance, const sint16 ISRA.11)
{
  sint8 err;
  int _2;
  short int _4;

  <bb 17> [local count: 1073741824]:
  # DEBUG cfg s=> cfg

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG err => 0
  # DEBUG BEGIN_STMT
  _2 = (int) instance_1(D);
  _4 = ISRA.11_22(D);
  ipc_hw_priv[_2].mscm_tx_irq = _4;
  # DEBUG BEGIN_STMT
  switch (_4) <default: <L13> [7.14%], case -1: <L0> [7.14%], case 1: <L1> [7.14%], case 2: <L2> [7.14%], case 3: <L3> [7.14%], case 22: <L4> [7.14%], case 23: <L5> [7.14%], case 68: <L6> [7.14%], case 69: <L7> [7.14%], case 164: <L8> [7.14%], case 165: <L9> [7.14%], case 166: <L10> [7.14%], case 167: <L11> [7.14%], case 168: <L12> [7.14%]>

  <bb 3> [local count: 76665166]:
<L0>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].mscm_tx_irq = -1;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 4> [local count: 76665166]:
<L1>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_tx_irq = 0;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 5> [local count: 76665166]:
<L2>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_tx_irq = 1;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 6> [local count: 76665166]:
<L3>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_tx_irq = 2;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 7> [local count: 76665166]:
<L4>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_tx_irq = 5;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 8> [local count: 76665166]:
<L5>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_tx_irq = 6;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 9> [local count: 76665166]:
<L6>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_tx_irq = 7;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 10> [local count: 76665166]:
<L7>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_tx_irq = 8;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 11> [local count: 76665166]:
<L8>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_tx_irq = 9;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 12> [local count: 76665166]:
<L9>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_tx_irq = 10;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 13> [local count: 76665166]:
<L10>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_tx_irq = 11;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 14> [local count: 76665166]:
<L11>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_tx_irq = 12;
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 15> [local count: 76665166]:
<L12>:
  # DEBUG BEGIN_STMT
  ipc_hw_priv[_2].msi_tx_irq = 13;
  # DEBUG BEGIN_STMT

  <bb 16> [local count: 1073312328]:
  # err_5 = PHI <-3(2), 0(3), 0(4), 0(5), 0(6), 0(7), 0(8), 0(9), 0(10), 0(11), 0(12), 0(13), 0(14), 0(15)>
<L13>:
  # DEBUG err => err_5
  # DEBUG BEGIN_STMT
  return err_5;

}


ipc_hw_flush_cache_remote (const uint8 instance)
{
  <bb 2> [local count: 1073741824]:
  ipc_hw_flush_cache_local (instance_1(D)); [tail call]
  return;

}


ipc_hw_flush_cache_local (const uint8 instance)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  return;

}


ipc_hw_irq_clear (const uint8 instance)
{
  uint8 msi_rx_index;
  uint8 remote_core;
  uint8 local_core;
  int _1;
  short int _2;
  unsigned char _3;
  int _4;
  int _5;
  int _6;
  long unsigned int _7;
  int _8;
  int _9;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = (int) instance_11(D);
  _2 = ipc_hw_priv[_1].mscm_rx_irq;
  if (_2 != -1)
    goto <bb 3>; [66.00%]
  else
    goto <bb 6>; [34.00%]

  <bb 3> [local count: 708669605]:
  # DEBUG BEGIN_STMT
  local_core_13 = ipc_hw_priv[_1].local_core;
  # DEBUG local_core => local_core_13
  # DEBUG BEGIN_STMT
  remote_core_14 = ipc_hw_priv[_1].remote_core;
  # DEBUG remote_core => remote_core_14
  # DEBUG BEGIN_STMT
  msi_rx_index_15 = ipc_hw_priv[_1].msi_rx_irq;
  # DEBUG msi_rx_index => msi_rx_index_15
  # DEBUG BEGIN_STMT
  _3 = remote_core_14 + 252;
  if (_3 <= 3)
    goto <bb 4>; [50.00%]
  else
    goto <bb 5>; [50.00%]

  <bb 4> [local count: 354334802]:
  # DEBUG BEGIN_STMT
  _4 = (int) remote_core_14;
  _5 = (int) local_core_13;
  _6 = (int) msi_rx_index_15;
  _7 = 1 << _4;
  MEM[(volatile struct IPC_MSCM_IRCPnIRx_Type *)1075415648B].IRCPnIRx[_5][_6].IPC_ISR ={v} _7;
  goto <bb 6>; [100.00%]

  <bb 5> [local count: 354334802]:
  # DEBUG BEGIN_STMT
  _8 = (int) local_core_13;
  _9 = (int) msi_rx_index_15;
  MEM[(volatile struct IPC_MSCM_IRCPnIRx_Type *)1075415648B].IRCPnIRx[_8][_9].IPC_ISR ={v} 3855;

  <bb 6> [local count: 1073741824]:
  return;

}


ipc_hw_irq_notify (const uint8 instance)
{
  uint8 msi_tx_index;
  uint8 remote_core;
  int _1;
  short int _2;
  int _3;
  int _4;
  long unsigned int _5;
  long unsigned int _6;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = (int) instance_8(D);
  _2 = ipc_hw_priv[_1].mscm_tx_irq;
  if (_2 != -1)
    goto <bb 3>; [66.00%]
  else
    goto <bb 4>; [34.00%]

  <bb 3> [local count: 708669605]:
  # DEBUG BEGIN_STMT
  remote_core_10 = ipc_hw_priv[_1].remote_core;
  # DEBUG remote_core => remote_core_10
  # DEBUG BEGIN_STMT
  msi_tx_index_11 = ipc_hw_priv[_1].msi_tx_irq;
  # DEBUG msi_tx_index => msi_tx_index_11
  # DEBUG BEGIN_STMT
  _3 = (int) remote_core_10;
  _4 = (int) msi_tx_index_11;
  _5 ={v} MEM[(volatile struct IPC_MSCM_IRCPnIRx_Type *)1075415648B].IRCPnIRx[_3][_4].IPC_IGR;
  _6 = _5 | 1;
  MEM[(volatile struct IPC_MSCM_IRCPnIRx_Type *)1075415648B].IRCPnIRx[_3][_4].IPC_IGR ={v} _6;

  <bb 4> [local count: 1073741824]:
  return;

}


ipc_hw_irq_disable (const uint8 instance)
{
  int _1;
  short int _2;
  int _3;
  short unsigned int _4;
  signed short _5;
  unsigned char _6;
  unsigned int _7;
  unsigned int _8;
  int _9;
  signed short _10;
  signed short _11;
  signed short _12;
  short unsigned int _13;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  _1 = (int) instance_15(D);
  _2 = ipc_hw_priv[_1].mscm_rx_irq;
  if (_2 != -1)
    goto <bb 3>; [66.00%]
  else
    goto <bb 4>; [34.00%]

  <bb 3> [local count: 708669605]:
  # DEBUG BEGIN_STMT
  _3 = (int) _2;
  _4 ={v} MEM[(struct MSCM_Type *)1075412992B].IRSPRC[_3];
  _5 = (signed short) _4;
  _6 = ipc_hw_priv[_1].local_core;
  _7 = (unsigned int) _6;
  _8 = _7 + 4294967293;
  _9 = 1 << _8;
  _10 = (signed short) _9;
  _11 = ~_10;
  _12 = _5 & _11;
  _13 = (short unsigned int) _12;
  MEM[(struct MSCM_Type *)1075412992B].IRSPRC[_3] ={v} _13;

  <bb 4> [local count: 1073741824]:
  return;

}


ipc_hw_irq_enable (const uint8 instance)
{
  int _1;
  short int _2;
  int _3;
  short unsigned int _4;
  signed short _5;
  unsigned char _6;
  unsigned int _7;
  unsigned int _8;
  int _9;
  signed short _10;
  signed short _11;
  short unsigned int _12;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  _1 = (int) instance_14(D);
  _2 = ipc_hw_priv[_1].mscm_rx_irq;
  if (_2 != -1)
    goto <bb 3>; [66.00%]
  else
    goto <bb 4>; [34.00%]

  <bb 3> [local count: 708669605]:
  # DEBUG BEGIN_STMT
  _3 = (int) _2;
  _4 ={v} MEM[(struct MSCM_Type *)1075412992B].IRSPRC[_3];
  _5 = (signed short) _4;
  _6 = ipc_hw_priv[_1].local_core;
  _7 = (unsigned int) _6;
  _8 = _7 + 4294967293;
  _9 = 1 << _8;
  _10 = (signed short) _9;
  _11 = _5 | _10;
  _12 = (short unsigned int) _11;
  MEM[(struct MSCM_Type *)1075412992B].IRSPRC[_3] ={v} _12;

  <bb 4> [local count: 1073741824]:
  return;

}


ipc_hw_free (const uint8 instance)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  ipc_hw_irq_clear (instance_2(D));
  return;

}


ipc_hw_init (const uint8 instance, const struct ipc_shm_cfg * cfg)
{
  sint8 err;
  int _1;
  long unsigned int _2;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG err => 0
  # DEBUG BEGIN_STMT
  err_10 = ipc_hw_set_core (instance_7(D), cfg_8(D));
  # DEBUG err => err_10
  # DEBUG BEGIN_STMT
  if (err_10 == 0)
    goto <bb 3>; [33.00%]
  else
    goto <bb 4>; [67.00%]

  <bb 3> [local count: 354334802]:
  # DEBUG BEGIN_STMT
  err_12 = ipc_hw_set_irq_idx (instance_7(D), cfg_8(D));
  # DEBUG err => err_12

  <bb 4> [local count: 1073741824]:
  # err_3 = PHI <err_10(2), err_12(3)>
  # DEBUG err => err_3
  # DEBUG BEGIN_STMT
  if (err_3 == 0)
    goto <bb 5>; [33.00%]
  else
    goto <bb 6>; [67.00%]

  <bb 5> [local count: 354334802]:
  # DEBUG BEGIN_STMT
  _1 = (int) instance_7(D);
  _2 = cfg_8(D)->shm_size;
  ipc_hw_priv[_1].shm_size = _2;
  # DEBUG BEGIN_STMT
  ipc_hw_irq_disable (instance_7(D));
  # DEBUG BEGIN_STMT
  ipc_hw_irq_clear (instance_7(D));

  <bb 6> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  return err_3;

}


ipc_hw_set_irq_idx (const uint8 instance, const struct ipc_shm_cfg * cfg)
{
  sint8 err;
  short int _1;
  short int _2;
  short int _12;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG err => 0
  # DEBUG BEGIN_STMT
  _1 = cfg_6(D)->inter_core_rx_irq;
  _2 = cfg_6(D)->inter_core_tx_irq;
  if (_1 == _2)
    goto <bb 3>; [51.12%]
  else
    goto <bb 4>; [48.88%]

  <bb 3> [local count: 548896821]:
  if (_1 != -1)
    goto <bb 6>; [3.81%]
  else
    goto <bb 4>; [96.19%]

  <bb 4> [local count: 1052828856]:
  # DEBUG BEGIN_STMT
  # DEBUG D#1 => cfg_6(D)
  err_9 = ipc_hw_set_tx_irq_idx.isra.0 (instance_7(D), _2);
  # DEBUG err => err_9
  # DEBUG BEGIN_STMT
  if (err_9 == 0)
    goto <bb 5>; [33.00%]
  else
    goto <bb 6>; [67.00%]

  <bb 5> [local count: 347433522]:
  # DEBUG BEGIN_STMT
  _12 = MEM[(short int *)cfg_6(D) + 14B];
  # DEBUG D#2 => cfg_6(D)
  err_11 = ipc_hw_set_rx_irq_idx.isra.0 (instance_7(D), _12);
  # DEBUG err => err_11

  <bb 6> [local count: 1073741824]:
  # err_3 = PHI <-3(3), err_9(4), err_11(5)>
  # DEBUG err => err_3
  # DEBUG BEGIN_STMT
  return err_3;

}


ipc_hw_set_core (const uint8 instance, const struct ipc_shm_cfg * cfg)
{
  uint8 local_core_idx;
  sint8 err;
  long unsigned int _1;
  int _2;
  unsigned char _3;
  unsigned char _4;

  <bb 2> [local count: 1073741823]:
  # DEBUG BEGIN_STMT
  # DEBUG err => 0
  # DEBUG BEGIN_STMT
  _1 ={v} MEM[(struct MSCM_Type *)1075412992B].CPXNUM;
  local_core_idx_9 = (uint8) _1;
  # DEBUG local_core_idx => local_core_idx_9
  # DEBUG BEGIN_STMT
  err_13 = ipc_hw_set_remote_core (instance_10(D), cfg_11(D));
  # DEBUG err => err_13
  # DEBUG BEGIN_STMT
  if (err_13 == 0)
    goto <bb 3>; [33.00%]
  else
    goto <bb 4>; [67.00%]

  <bb 3> [local count: 354334802]:
  # DEBUG BEGIN_STMT
  err_15 = ipc_hw_set_local_core (instance_10(D), cfg_11(D));
  # DEBUG err => err_15

  <bb 4> [local count: 1073741823]:
  # err_5 = PHI <err_13(2), err_15(3)>
  # DEBUG err => err_5
  # DEBUG BEGIN_STMT
  if (err_5 == 0)
    goto <bb 5>; [50.00%]
  else
    goto <bb 8>; [50.00%]

  <bb 5> [local count: 536870911]:
  # DEBUG BEGIN_STMT
  _2 = (int) instance_10(D);
  _3 = ipc_hw_priv[_2].remote_core;
  _4 = ipc_hw_priv[_2].local_core;
  if (_3 != _4)
    goto <bb 6>; [98.96%]
  else
    goto <bb 7>; [1.04%]

  <bb 6> [local count: 531287454]:
  if (_4 == local_core_idx_9)
    goto <bb 8>; [96.19%]
  else
    goto <bb 7>; [3.81%]

  <bb 7> [local count: 25825509]:
  # DEBUG BEGIN_STMT
  # DEBUG err => -3

  <bb 8> [local count: 1073741824]:
  # err_6 = PHI <err_5(4), 0(6), -3(7)>
  # DEBUG err => err_6
  # DEBUG BEGIN_STMT
  return err_6;

}


ipc_hw_set_local_core (const uint8 instance, const struct ipc_shm_cfg * cfg)
{
  sint8 core_idx;
  sint8 err;
  ipc_shm_core_type _1;
  ipc_shm_core_index _2;
  unsigned int _3;
  unsigned char _4;
  int _5;
  unsigned char core_idx.2_6;
  ipc_shm_core_index _7;
  unsigned int _8;
  unsigned char _9;
  int _10;
  unsigned char core_idx.3_11;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG err => -3
  # DEBUG BEGIN_STMT
  # DEBUG core_idx => 0
  # DEBUG BEGIN_STMT
  _1 = cfg_15(D)->local_core.type;
  if (_1 == 1)
    goto <bb 3>; [34.00%]
  else
    goto <bb 6>; [66.00%]

  <bb 3> [local count: 365072220]:
  # DEBUG BEGIN_STMT
  _2 = cfg_15(D)->local_core.index;
  _3 = _2 + 4294967295;
  if (_3 <= 127)
    goto <bb 4>; [98.00%]
  else
    goto <bb 10>; [2.00%]

  <bb 4> [local count: 357770776]:
  # DEBUG BEGIN_STMT
  _4 = (unsigned char) _2;
  core_idx_19 = ipc_hw_get_core_index_a53 (_4);
  # DEBUG core_idx => core_idx_19
  # DEBUG BEGIN_STMT
  if (core_idx_19 >= 0)
    goto <bb 5>; [98.60%]
  else
    goto <bb 10>; [1.40%]

  <bb 5> [local count: 352761985]:
  # DEBUG BEGIN_STMT
  _5 = (int) instance_17(D);
  core_idx.2_6 = (unsigned char) core_idx_19;
  ipc_hw_priv[_5].local_core = core_idx.2_6;
  # DEBUG BEGIN_STMT
  # DEBUG err => 0
  goto <bb 10>; [100.00%]

  <bb 6> [local count: 708669605]:
  # DEBUG BEGIN_STMT
  if (_1 == 2)
    goto <bb 7>; [96.19%]
  else
    goto <bb 10>; [3.81%]

  <bb 7> [local count: 681669293]:
  # DEBUG BEGIN_STMT
  _7 = cfg_15(D)->local_core.index;
  _8 = _7 + 4294967295;
  if (_8 <= 7)
    goto <bb 8>; [98.00%]
  else
    goto <bb 10>; [2.00%]

  <bb 8> [local count: 668035907]:
  # DEBUG BEGIN_STMT
  _9 = (unsigned char) _7;
  core_idx_16 = ipc_hw_get_core_index_m7 (_9);
  # DEBUG core_idx => core_idx_16
  # DEBUG BEGIN_STMT
  if (core_idx_16 > 3)
    goto <bb 9>; [98.00%]
  else
    goto <bb 10>; [2.00%]

  <bb 9> [local count: 654675189]:
  # DEBUG BEGIN_STMT
  _10 = (int) instance_17(D);
  core_idx.3_11 = (unsigned char) core_idx_16;
  ipc_hw_priv[_10].local_core = core_idx.3_11;
  # DEBUG BEGIN_STMT
  # DEBUG err => 0

  <bb 10> [local count: 1073741824]:
  # err_12 = PHI <-3(4), -3(8), -3(6), -3(3), 0(5), -3(7), 0(9)>
  # DEBUG err => err_12
  # DEBUG BEGIN_STMT
  return err_12;

}


ipc_hw_set_remote_core (const uint8 instance, const struct ipc_shm_cfg * cfg)
{
  sint8 core_idx;
  sint8 err;
  ipc_shm_core_type _1;
  ipc_shm_core_index _2;
  unsigned int _3;
  unsigned char _4;
  int _5;
  unsigned char core_idx.0_6;
  ipc_shm_core_index _7;
  unsigned int _8;
  unsigned char _9;
  int _10;
  unsigned char core_idx.1_11;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG err => -3
  # DEBUG BEGIN_STMT
  # DEBUG core_idx => 0
  # DEBUG BEGIN_STMT
  _1 = cfg_15(D)->remote_core.type;
  if (_1 == 1)
    goto <bb 3>; [34.00%]
  else
    goto <bb 6>; [66.00%]

  <bb 3> [local count: 365072220]:
  # DEBUG BEGIN_STMT
  _2 = cfg_15(D)->remote_core.index;
  _3 = _2 + 4294967295;
  if (_3 <= 127)
    goto <bb 4>; [98.00%]
  else
    goto <bb 10>; [2.00%]

  <bb 4> [local count: 357770776]:
  # DEBUG BEGIN_STMT
  _4 = (unsigned char) _2;
  core_idx_19 = ipc_hw_get_core_index_a53 (_4);
  # DEBUG core_idx => core_idx_19
  # DEBUG BEGIN_STMT
  if (core_idx_19 >= 0)
    goto <bb 5>; [98.60%]
  else
    goto <bb 10>; [1.40%]

  <bb 5> [local count: 352761985]:
  # DEBUG BEGIN_STMT
  _5 = (int) instance_17(D);
  core_idx.0_6 = (unsigned char) core_idx_19;
  ipc_hw_priv[_5].remote_core = core_idx.0_6;
  # DEBUG BEGIN_STMT
  # DEBUG err => 0
  goto <bb 10>; [100.00%]

  <bb 6> [local count: 708669605]:
  # DEBUG BEGIN_STMT
  if (_1 == 2)
    goto <bb 7>; [96.19%]
  else
    goto <bb 10>; [3.81%]

  <bb 7> [local count: 681669293]:
  # DEBUG BEGIN_STMT
  _7 = cfg_15(D)->remote_core.index;
  _8 = _7 + 4294967295;
  if (_8 <= 7)
    goto <bb 8>; [98.00%]
  else
    goto <bb 10>; [2.00%]

  <bb 8> [local count: 668035907]:
  # DEBUG BEGIN_STMT
  _9 = (unsigned char) _7;
  core_idx_16 = ipc_hw_get_core_index_m7 (_9);
  # DEBUG core_idx => core_idx_16
  # DEBUG BEGIN_STMT
  if (core_idx_16 > 3)
    goto <bb 9>; [98.00%]
  else
    goto <bb 10>; [2.00%]

  <bb 9> [local count: 654675189]:
  # DEBUG BEGIN_STMT
  _10 = (int) instance_17(D);
  core_idx.1_11 = (unsigned char) core_idx_16;
  ipc_hw_priv[_10].remote_core = core_idx.1_11;
  # DEBUG BEGIN_STMT
  # DEBUG err => 0

  <bb 10> [local count: 1073741824]:
  # err_12 = PHI <-3(4), -3(8), -3(6), -3(3), 0(5), -3(7), 0(9)>
  # DEBUG err => err_12
  # DEBUG BEGIN_STMT
  return err_12;

}


ipc_hw_get_core_index_a53 (uint8 index)
{
  sint8 core_index;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  switch (index_2(D)) <default: <L8> [11.11%], case 1: <L11> [11.11%], case 2: <L1> [11.11%], case 4: <L2> [11.11%], case 8: <L3> [11.11%], case 16: <L4> [11.11%], case 32: <L5> [11.11%], case 64: <L6> [11.11%], case 128: <L7> [11.11%]>

  <bb 3> [local count: 119292717]:
<L1>:
  # DEBUG BEGIN_STMT
  # DEBUG core_index => 1
  # DEBUG BEGIN_STMT
  goto <bb 11>; [100.00%]

  <bb 4> [local count: 119292717]:
<L2>:
  # DEBUG BEGIN_STMT
  # DEBUG core_index => 2
  # DEBUG BEGIN_STMT
  goto <bb 11>; [100.00%]

  <bb 5> [local count: 119292717]:
<L3>:
  # DEBUG BEGIN_STMT
  # DEBUG core_index => 3
  # DEBUG BEGIN_STMT
  goto <bb 11>; [100.00%]

  <bb 6> [local count: 119292717]:
<L4>:
  # DEBUG BEGIN_STMT
  # DEBUG core_index => 8
  # DEBUG BEGIN_STMT
  goto <bb 11>; [100.00%]

  <bb 7> [local count: 119292717]:
<L5>:
  # DEBUG BEGIN_STMT
  # DEBUG core_index => 9
  # DEBUG BEGIN_STMT
  goto <bb 11>; [100.00%]

  <bb 8> [local count: 119292717]:
<L6>:
  # DEBUG BEGIN_STMT
  # DEBUG core_index => 10
  # DEBUG BEGIN_STMT
  goto <bb 11>; [100.00%]

  <bb 9> [local count: 119292717]:
<L7>:
  # DEBUG BEGIN_STMT
  # DEBUG core_index => 11
  # DEBUG BEGIN_STMT
  goto <bb 11>; [100.00%]

  <bb 10> [local count: 119292717]:
<L8>:
  # DEBUG BEGIN_STMT
  # DEBUG core_index => -3
  # DEBUG BEGIN_STMT

  <bb 11> [local count: 1073634452]:
  # core_index_1 = PHI <0(2), 1(3), 2(4), 3(5), 8(6), 9(7), 10(8), 11(9), -3(10)>
<L11>:
  # DEBUG core_index => core_index_1
  # DEBUG BEGIN_STMT
  return core_index_1;

}


ipc_hw_get_core_index_m7 (uint8 index)
{
  sint8 core_index;
  unsigned char _1;
  signed char _4;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = index_3(D) + 255;
  if (_1 <= 7)
    goto <bb 4>; [50.00%]
  else
    goto <bb 3>; [50.00%]

  <bb 3> [local count: 536870913]:
<L8>:
  core_index_5 = -3;
  goto <bb 5>; [100.00%]

  <bb 4> [local count: 536870913]:
<L9>:
  _4 = CSWTCH.5[_1];
  core_index_6 = _4;

  <bb 5> [local count: 1073741824]:
  # core_index_2 = PHI <core_index_5(3), core_index_6(4)>
<L10>:
<L7>:
  # DEBUG core_index => core_index_2
  # DEBUG BEGIN_STMT
  return core_index_2;

}


