Parsed function:pfe_hif_ring_destroy
Parsed function:pfe_hif_ring_init_bd_std
Parsed function:pfe_hif_ring_init_ring_std
Parsed function:pfe_hif_ring_create_std
Parsed function:pfe_hif_ring_create_minihif
Parsed function:pfe_hif_ring_create_mcal
Parsed function:pfe_hif_ring_dump
Parsed function:pfe_hif_ring_invalidate_std
Parsed function:pfe_hif_ring_invalidate
Parsed function:pfe_hif_ring_drain_buf
Parsed function:pfe_hif_ring_dequeue_plain_std
Parsed function:pfe_hif_ring_dequeue_plain
Parsed function:pfe_hif_ring_dequeue_buf_std
Parsed function:pfe_hif_ring_dequeue_buf
Parsed function:pfe_hif_ring_enqueue_buf_std
Parsed function:pfe_hif_ring_enqueue_buf
Parsed function:pfe_hif_ring_get_len
Parsed function:pfe_hif_ring_is_on_head
Parsed function:pfe_hif_ring_find_wb_entry
Parsed function:pfe_hif_ring_force_index
Parsed function:pfe_hif_ring_revalidate_direct
Parsed function:pfe_hif_ring_invalidate_direct
Parsed function:pfe_hif_ring_get_wb_tbl_len
Parsed function:pfe_hif_ring_get_wb_tbl_pa
Parsed function:pfe_hif_ring_get_base_pa
Parsed function:pfe_hif_ring_get_fill_level
Parsed function:inc_read_index
Parsed function:dec_write_index_std
Parsed function:inc_write_index
Dump after hash based groups
Congruence classes: 26 (unique hash values: 26), with total: 29 items
Class size histogram [num of members]: number of classe number of classess
[1]: 23 classes
[2]: 3 classes


Dump after WPA based types groups
Congruence classes: 27 (unique hash values: 26), with total: 29 items
Class size histogram [num of members]: number of classe number of classess
[1]: 25 classes
[2]: 2 classes


Worklist has been filled with: 10
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 27 (unique hash values: 26), with total: 29 items
Class size histogram [num of members]: number of classe number of classess
[1]: 25 classes
[2]: 2 classes


Init called for 4 items (13.79%).
Dump after full equality comparison of groups
Congruence classes: 29 (unique hash values: 26), with total: 29 items
Class size histogram [num of members]: number of classe number of classess
[1]: 29 classes


Worklist has been filled with: 11
Address reference subdivision created: 0 new classes.
Congruence classes: 29 (unique hash values: 26), with total: 29 items
Class size histogram [num of members]: number of classe number of classess
[1]: 29 classes



Item count: 29
Congruent classes before: 29, after: 29
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Fraction of visited symbols: 0.00%

__attribute__((cold))
pfe_hif_ring_destroy (struct pfe_hif_ring_t * ring)
{
  void * _1;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  if (ring_3(D) != 0B)
    goto <bb 3>; [70.00%]
  else
    goto <bb 5>; [30.00%]

  <bb 3> [local count: 751619278]:
  _1 = ring_3(D)->base_va;
  if (_1 != 0B)
    goto <bb 4>; [0.00%]
  else
    goto <bb 5>; [100.00%]

  <bb 4> [count: 0]:
  # DEBUG BEGIN_STMT
  // predicted unlikely by cold function call predictor.
  # DEBUG ring => ring_3(D)
  # DEBUG INLINE_ENTRY pfe_hif_ring_invalidate
  # DEBUG BEGIN_STMT
  pfe_hif_ring_invalidate_std (ring_3(D));
  # DEBUG ring => NULL
  # DEBUG BEGIN_STMT
  ring_3(D)->base_va = 0B;
  # DEBUG BEGIN_STMT
  ring_3(D)->wb_tbl_base_va = 0B;

  <bb 5> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  return 0;

}


__attribute__((cold))
pfe_hif_ring_init_bd_std (const struct pfe_hif_ring_t * ring)
{
  uint32_t ii;
  struct pfe_hif_wb_bd_t * wb_bd_va;
  const struct pfe_hif_bd_t * hw_desc_pa;
  struct pfe_hif_bd_t * hw_desc_va;
  long unsigned int _1;
  void * _2;
  long unsigned int _3;
  long unsigned int _4;
  unsigned char _5;
  long unsigned int _6;
  struct pfe_hif_bd_t * _7;
  long unsigned int _8;
  struct pfe_hif_bd_t * _9;
  sizetype _10;
  sizetype _11;
  const struct pfe_hif_bd_t * _12;
  long unsigned int _13;
  long unsigned int _14;
  sizetype _15;
  sizetype _16;
  struct pfe_hif_bd_t * _17;
  long unsigned int hw_desc_pa.4_18;
  long unsigned int _19;
  void * _21;
  long unsigned int _22;
  long unsigned int _23;
  void * _24;
  long unsigned int _25;
  void * _26;
  void * _27;

  <bb 2> [local count: 118111600]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = ring_35(D)->length;
  # DEBUG BEGIN_STMT
  _2 = ring_35(D)->base_va;
  _4 = _1 * 16;
  autolibc_memset (_2, 0, _4);
  # DEBUG BEGIN_STMT
  hw_desc_va_37 = ring_35(D)->base_va;
  # DEBUG hw_desc_va => hw_desc_va_37
  # DEBUG BEGIN_STMT
  hw_desc_pa_38 = ring_35(D)->base_pa;
  # DEBUG hw_desc_pa => hw_desc_pa_38
  # DEBUG BEGIN_STMT
  # DEBUG ii => 0
  goto <bb 6>; [100.00%]

  <bb 3> [local count: 955630220]:
  # DEBUG BEGIN_STMT
  _5 = ring_35(D)->is_rx;
  if (_5 == 1)
    goto <bb 4>; [34.00%]
  else
    goto <bb 5>; [66.00%]

  <bb 4> [local count: 324914275]:
  # DEBUG BEGIN_STMT
  _6 = ii_29 * 16;
  _7 = hw_desc_va_37 + _6;
  _7->control.info.dir ={v} 1;

  <bb 5> [local count: 955630222]:
  # DEBUG BEGIN_STMT
  _8 = ii_29 * 16;
  _9 = hw_desc_va_37 + _8;
  _9->control.info.cbd_int_en ={v} 1;
  # DEBUG BEGIN_STMT
  _10 = ii_29 + 1;
  _11 = _10 * 16;
  _12 = hw_desc_pa_38 + _11;
  _13 = (long unsigned int) _12;
  _9->next ={v} _13;
  # DEBUG BEGIN_STMT
  # DEBUG ii => _10

  <bb 6> [local count: 1073741821]:
  # ii_29 = PHI <0(2), _10(5)>
  # DEBUG ii => ii_29
  # DEBUG BEGIN_STMT
  _14 = ring_35(D)->length;
  if (_14 > ii_29)
    goto <bb 3>; [89.00%]
  else
    goto <bb 7>; [11.00%]

  <bb 7> [local count: 118111600]:
  # _3 = PHI <_14(6)>
  # ii_20 = PHI <ii_29(6)>
  # DEBUG BEGIN_STMT
  _15 = ii_20 + 268435455;
  _16 = _15 * 16;
  _17 = hw_desc_va_37 + _16;
  hw_desc_pa.4_18 = (long unsigned int) hw_desc_pa_38;
  _17->next ={v} hw_desc_pa.4_18;
  # DEBUG BEGIN_STMT
  _17->control.info.last_bd ={v} 1;
  # DEBUG BEGIN_STMT
  _21 = ring_35(D)->wb_tbl_base_va;
  _22 = _3 * 8;
  autolibc_memset (_21, 0, _22);
  # DEBUG BEGIN_STMT
  wb_bd_va_42 = ring_35(D)->wb_tbl_base_va;
  # DEBUG wb_bd_va => wb_bd_va_42
  # DEBUG BEGIN_STMT
  # DEBUG ii => 0
  goto <bb 9>; [100.00%]

  <bb 8> [local count: 955630224]:
  # DEBUG BEGIN_STMT
  wb_bd_va_28->control.info.desc_en ={v} 1;
  # DEBUG BEGIN_STMT
  wb_bd_va_46 = wb_bd_va_28 + 8;
  # DEBUG wb_bd_va => wb_bd_va_46
  # DEBUG BEGIN_STMT
  ii_47 = ii_30 + 1;
  # DEBUG ii => ii_47

  <bb 9> [local count: 1073741824]:
  # wb_bd_va_28 = PHI <wb_bd_va_42(7), wb_bd_va_46(8)>
  # ii_30 = PHI <0(7), ii_47(8)>
  # DEBUG ii => ii_30
  # DEBUG wb_bd_va => wb_bd_va_28
  # DEBUG BEGIN_STMT
  _23 = ring_35(D)->length;
  if (_23 > ii_30)
    goto <bb 8>; [89.00%]
  else
    goto <bb 10>; [11.00%]

  <bb 10> [local count: 118111601]:
  # _19 = PHI <_23(9)>
  # DEBUG BEGIN_STMT
  _24 = ring_35(D)->wb_tbl_base_pa;
  _25 = _19 * 8;
  oal_mm_cache_flush (wb_bd_va_42, _24, _25);
  # DEBUG BEGIN_STMT
  _26 = ring_35(D)->base_va;
  _27 = ring_35(D)->base_pa;
  oal_mm_cache_inval (_26, _27, 8);
  return;

}


__attribute__((cold))
pfe_hif_ring_init_ring_std (struct pfe_hif_ring_t * ring, void * ring_va, void * wb_ring_va, uint32_t length, bool_t is_rx)
{
  errno_t ret;
  unsigned int ring_va.2_1;
  unsigned int _2;
  unsigned int wb_ring_va.3_3;
  unsigned int _4;
  void * _5;
  void * _6;
  void * _7;
  void * _8;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  ring_va.2_1 = (unsigned int) ring_va_11(D);
  _2 = ring_va.2_1 & 15;
  if (_2 != 0)
    goto <bb 3>; [20.96%]
  else
    goto <bb 4>; [79.04%]

  <bb 3> [local count: 225056286]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pfe_hm_report (1, 2, 1, "[%s:%d] Buffer descriptors are not aligned\n", "./tools/tresos_mcore_bsw/plugins/Eth_43_PFE_TS_T40D11M14I0R0/src/pfe_hif_ring.c", 1375, "");
  # DEBUG BEGIN_STMT
  oal_util_raise_dem_for_drv_runtime_err ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ret => 22
  goto <bb 7>; [100.00%]

  <bb 4> [local count: 848685538]:
  # DEBUG BEGIN_STMT
  wb_ring_va.3_3 = (unsigned int) wb_ring_va_12(D);
  _4 = wb_ring_va.3_3 & 7;
  if (_4 != 0)
    goto <bb 5>; [35.00%]
  else
    goto <bb 6>; [65.00%]

  <bb 5> [local count: 297039938]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pfe_hm_report (1, 2, 1, "[%s:%d] Write-back descriptors are not aligned\n", "./tools/tresos_mcore_bsw/plugins/Eth_43_PFE_TS_T40D11M14I0R0/src/pfe_hif_ring.c", 1380, "");
  # DEBUG BEGIN_STMT
  oal_util_raise_dem_for_drv_runtime_err ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ret => 22
  goto <bb 7>; [100.00%]

  <bb 6> [local count: 551645600]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  autolibc_memset (ring_14(D), 0, 64);
  # DEBUG BEGIN_STMT
  ring_14(D)->base_va = ring_va_11(D);
  # DEBUG BEGIN_STMT
  _5 = oal_mm_virt_to_phys_contig (ring_va_11(D));
  ring_14(D)->base_pa = _5;
  # DEBUG BEGIN_STMT
  ring_14(D)->wb_tbl_base_va = wb_ring_va_12(D);
  # DEBUG BEGIN_STMT
  _6 = oal_mm_virt_to_phys_contig (wb_ring_va_12(D));
  ring_14(D)->wb_tbl_base_pa = _6;
  # DEBUG BEGIN_STMT
  ring_14(D)->length = length_22(D);
  # DEBUG BEGIN_STMT
  ring_14(D)->write_idx = 0;
  # DEBUG BEGIN_STMT
  ring_14(D)->read_idx = 0;
  # DEBUG BEGIN_STMT
  ring_14(D)->is_rx = is_rx_26(D);
  # DEBUG BEGIN_STMT
  _7 = ring_14(D)->base_va;
  ring_14(D)->bd_read.rd_bd = _7;
  # DEBUG BEGIN_STMT
  ring_14(D)->bd_write.wr_bd = _7;
  # DEBUG BEGIN_STMT
  _8 = ring_14(D)->wb_tbl_base_va;
  ring_14(D)->rd_wb_bd = _8;
  # DEBUG BEGIN_STMT
  ring_14(D)->wr_wb_bd = _8;
  # DEBUG BEGIN_STMT
  # DEBUG ret => 0

  <bb 7> [local count: 1073741824]:
  # ret_9 = PHI <22(3), 22(5), 0(6)>
  # DEBUG ret => ret_9
  # DEBUG BEGIN_STMT
  return ret_9;

}


__attribute__((cold))
pfe_hif_ring_create_std (struct pfe_hif_ring_t * ring, void * ring_va, void * wb_ring_va, uint32_t length, bool_t rx)
{
  errno_t ret_val;
  long unsigned int _1;
  long unsigned int _2;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG ret_val => 22
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = length_4(D) * 16;
  autolibc_memset (ring_va_6(D), 0, _1);
  # DEBUG BEGIN_STMT
  _2 = length_4(D) * 8;
  autolibc_memset (wb_ring_va_8(D), 0, _2);
  # DEBUG BEGIN_STMT
  ret_val_13 = pfe_hif_ring_init_ring_std (ring_10(D), ring_va_6(D), wb_ring_va_8(D), length_4(D), rx_11(D));
  # DEBUG ret_val => ret_val_13
  # DEBUG BEGIN_STMT
  if (ret_val_13 != 0)
    goto <bb 3>; [100.00%]
  else
    goto <bb 4>; [0.00%]

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pfe_hm_report (1, 2, 1, "[%s:%d] Can\'t init ring\n", "./tools/tresos_mcore_bsw/plugins/Eth_43_PFE_TS_T40D11M14I0R0/src/pfe_hif_ring.c", 1338, "");
  # DEBUG BEGIN_STMT
  oal_util_raise_dem_for_drv_runtime_err ();
  # DEBUG BEGIN_STMT
  goto <bb 5>; [100.00%]

  <bb 4> [count: 0]:
  # DEBUG BEGIN_STMT
  pfe_hif_ring_init_bd_std (ring_10(D));

  <bb 5> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return ret_val_13;

}


__attribute__((cold))
pfe_hif_ring_create_minihif (struct pfe_hif_ring_t * ring, void * ring_va, void * wb_ring_va, uint32_t length, bool_t rx)
{
  errno_t ret_val;

  <bb 2> [count: 0]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  ret_val_8 = pfe_hif_ring_create_std (ring_2(D), ring_va_3(D), wb_ring_va_4(D), length_5(D), rx_6(D));
  # DEBUG ret_val => ret_val_8
  # DEBUG BEGIN_STMT
  return ret_val_8;

}


__attribute__((cold))
pfe_hif_ring_create_mcal (struct pfe_hif_ring_t * ring, uint32_t length, bool_t rx)
{
  void * wb_ring_va;
  void * ring_va;
  errno_t ret_val;
  _Bool _1;
  long int _2;
  long int _3;
  _Bool _4;
  long int _5;
  long int _6;
  char * iftmp.1_10;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ring_va => 0B
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (rx_12(D) == 1)
    goto <bb 3>; [34.00%]
  else
    goto <bb 4>; [66.00%]

  <bb 3> [local count: 365072220]:
  # DEBUG BEGIN_STMT
  _1 = length_13(D) <= 81;
  _2 = (long int) _1;
  _3 = __builtin_expect (_2, 1);
  if (_3 != 0)
    goto <bb 5>; [0.00%]
  else
    goto <bb 6>; [100.00%]

  <bb 4> [local count: 708669605]:
  # DEBUG BEGIN_STMT
  _4 = length_13(D) <= 9;
  _5 = (long int) _4;
  _6 = __builtin_expect (_5, 1);
  if (_6 != 0)
    goto <bb 5>; [0.00%]
  else
    goto <bb 6>; [100.00%]

  <bb 5> [count: 0]:
  # ring_va_8 = PHI <&arRxBdRing(3), &arTxBdRing(4)>
  # wb_ring_va_9 = PHI <&arRxBdWbRing(3), &arTxBdWbRing(4)>
  # DEBUG wb_ring_va => wb_ring_va_9
  # DEBUG ring_va => ring_va_8
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  ret_val_18 = pfe_hif_ring_create_std (ring_16(D), ring_va_8, wb_ring_va_9, length_13(D), rx_12(D));
  # DEBUG ret_val => ret_val_18
  goto <bb 9>; [0.00%]

  <bb 6> [local count: 1073741824]:
  # DEBUG wb_ring_va => NULL
  # DEBUG ring_va => NULL
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (rx_12(D) == 1)
    goto <bb 8>; [34.00%]
  else
    goto <bb 7>; [66.00%]

  <bb 7> [local count: 708669605]:

  <bb 8> [local count: 1073741824]:
  # iftmp.1_10 = PHI <"Rx"(6), "Tx"(7)>
  pfe_hm_report (1, 2, 1, "[%s:%d] %s BD memory is too small\n", "./tools/tresos_mcore_bsw/plugins/Eth_43_PFE_TS_T40D11M14I0R0/src/pfe_hif_ring.c", 1245, iftmp.1_10, "");
  # DEBUG BEGIN_STMT
  oal_util_raise_dem_for_drv_runtime_err ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ret_val => 22

  <bb 9> [local count: 1073741824]:
  # ret_val_7 = PHI <22(8), ret_val_18(5)>
  # DEBUG ret_val => ret_val_7
  # DEBUG BEGIN_STMT
  return ret_val_7;

}


__attribute__((cold))
pfe_hif_ring_dump (const struct pfe_hif_ring_t * ring, const char_t * name)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return;

}


__attribute__((cold))
pfe_hif_ring_invalidate_std (const struct pfe_hif_ring_t * ring)
{
  uint32_t ii;
  void * _1;
  long unsigned int _2;
  struct pfe_hif_bd_t * _3;
  void * _4;
  long unsigned int _5;
  struct pfe_hif_wb_bd_t * _6;
  long unsigned int _7;

  <bb 2> [local count: 118111600]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ii => 0
  goto <bb 4>; [100.00%]

  <bb 3> [local count: 955630223]:
  # DEBUG BEGIN_STMT
  _1 = ring_11(D)->base_va;
  _2 = ii_8 * 16;
  _3 = _1 + _2;
  _3->control.info.desc_en ={v} 0;
  # DEBUG BEGIN_STMT
  _4 = ring_11(D)->wb_tbl_base_va;
  _5 = ii_8 * 8;
  _6 = _4 + _5;
  _6->control.info.desc_en ={v} 1;
  # DEBUG BEGIN_STMT
  ii_14 = ii_8 + 1;
  # DEBUG ii => ii_14

  <bb 4> [local count: 1073741824]:
  # ii_8 = PHI <0(2), ii_14(3)>
  # DEBUG ii => ii_8
  # DEBUG BEGIN_STMT
  _7 = ring_11(D)->length;
  if (_7 > ii_8)
    goto <bb 3>; [89.00%]
  else
    goto <bb 5>; [11.00%]

  <bb 5> [local count: 118111601]:
  return;

}


__attribute__((cold))
pfe_hif_ring_invalidate (const struct pfe_hif_ring_t * ring)
{
  <bb 2> [count: 0]:
  # DEBUG BEGIN_STMT
  pfe_hif_ring_invalidate_std (ring_2(D));
  return;

}


__attribute__((cold))
pfe_hif_ring_drain_buf (struct pfe_hif_ring_t * ring, void * * buf_pa)
{
  errno_t ret;
  long unsigned int _1;
  struct pfe_hif_wb_bd_t * _2;
  <unnamed-unsigned:1> _3;
  struct pfe_hif_bd_t * _4;
  long unsigned int _5;
  void * _6;
  struct pfe_hif_bd_t * _7;
  struct pfe_hif_wb_bd_t * _8;
  struct pfe_hif_bd_t * _9;
  long unsigned int _10;
  void * _11;
  struct pfe_hif_bd_t * _12;
  struct pfe_hif_wb_bd_t * _13;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = pfe_hif_ring_get_fill_level (ring_17(D));
  if (_1 != 0)
    goto <bb 3>; [65.00%]
  else
    goto <bb 7>; [35.00%]

  <bb 3> [local count: 697932186]:
  # DEBUG BEGIN_STMT
  _2 = ring_17(D)->wr_wb_bd;
  _3 ={v} _2->control.info.desc_en;
  if (_3 != 0)
    goto <bb 4>; [50.00%]
  else
    goto <bb 5>; [50.00%]

  <bb 4> [local count: 348966093]:
  # DEBUG BEGIN_STMT
  _4 = ring_17(D)->bd_write.wr_bd;
  _5 ={v} _4->data;
  _6 = (void *) _5;
  *buf_pa_18(D) = _6;
  # DEBUG BEGIN_STMT
  _7 = ring_17(D)->bd_write.wr_bd;
  _7->control.info.desc_en ={v} 0;
  # DEBUG BEGIN_STMT
  _8 = ring_17(D)->wr_wb_bd;
  _8->control.info.desc_en ={v} 1;
  # DEBUG BEGIN_STMT
  dec_write_index_std (ring_17(D));
  goto <bb 7>; [100.00%]

  <bb 5> [local count: 348966093]:
  # DEBUG BEGIN_STMT
  _9 = ring_17(D)->bd_read.rd_bd;
  _10 ={v} _9->data;
  _11 = (void *) _10;
  *buf_pa_18(D) = _11;
  # DEBUG BEGIN_STMT
  _12 = ring_17(D)->bd_read.rd_bd;
  _12->control.info.desc_en ={v} 0;
  # DEBUG BEGIN_STMT
  _13 = ring_17(D)->rd_wb_bd;
  _13->control.info.desc_en ={v} 1;
  # DEBUG BEGIN_STMT
  inc_read_index (ring_17(D));

  <bb 7> [local count: 1073741824]:
  # ret_14 = PHI <0(5), 2(2), 0(4)>
  # DEBUG ret => ret_14
  # DEBUG BEGIN_STMT
  return ret_14;

}


__attribute__((hot))
pfe_hif_ring_dequeue_plain_std (struct pfe_hif_ring_t * ring, bool_t * lifm)
{
  errno_t ret;
  struct pfe_hif_bd_t * _1;
  <unnamed-unsigned:1> _2;
  struct pfe_hif_wb_bd_t * _3;
  <unnamed-unsigned:1> _4;
  <unnamed-unsigned:1> _5;
  unsigned char _6;
  struct pfe_hif_bd_t * _7;
  struct pfe_hif_wb_bd_t * _8;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = ring_12(D)->bd_read.rd_bd;
  _2 ={v} _1->control.info.desc_en;
  if (_2 != 0)
    goto <bb 3>; [65.00%]
  else
    goto <bb 5>; [35.00%]

  <bb 3> [local count: 697932186]:
  _3 = ring_12(D)->rd_wb_bd;
  _4 ={v} _3->control.info.desc_en;
  if (_4 != 0)
    goto <bb 5>; [52.23%]
  else
    goto <bb 4>; [47.77%]

  <bb 4> [local count: 333402205]:
  # DEBUG BEGIN_STMT
  _5 ={v} _1->control.info.lifm;
  _6 = (unsigned char) _5;
  *lifm_13(D) = _6;
  # DEBUG BEGIN_STMT
  _7 = ring_12(D)->bd_read.rd_bd;
  _7->control.info.desc_en ={v} 0;
  # DEBUG BEGIN_STMT
  _8 = ring_12(D)->rd_wb_bd;
  _8->control.info.desc_en ={v} 1;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" dmb" :  :  : "memory");
  # DEBUG BEGIN_STMT
  inc_read_index (ring_12(D));
  # DEBUG BEGIN_STMT
  # DEBUG ret => 0

  <bb 5> [local count: 1073741824]:
  # ret_9 = PHI <118(3), 0(4), 118(2)>
  # DEBUG ret => ret_9
  # DEBUG BEGIN_STMT
  return ret_9;

}


__attribute__((hot))
pfe_hif_ring_dequeue_plain (struct pfe_hif_ring_t * ring, bool_t * lifm)
{
  errno_t ret;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  ret_5 = pfe_hif_ring_dequeue_plain_std (ring_2(D), lifm_3(D));
  # DEBUG ret => ret_5
  # DEBUG BEGIN_STMT
  return ret_5;

}


__attribute__((hot))
pfe_hif_ring_dequeue_buf_std (struct pfe_hif_ring_t * ring, void * * buf_pa, uint32_t * length, bool_t * lifm)
{
  errno_t ret;
  struct pfe_hif_bd_t * _1;
  <unnamed-unsigned:1> _2;
  struct pfe_hif_wb_bd_t * _3;
  <unnamed-unsigned:1> _4;
  struct pfe_hif_bd_t * _5;
  long unsigned int _6;
  void * _7;
  struct pfe_hif_wb_bd_t * _8;
  short unsigned int _9;
  long unsigned int _10;
  <unnamed-unsigned:1> _11;
  unsigned char _12;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = ring_16(D)->bd_read.rd_bd;
  _2 ={v} _1->control.info.desc_en;
  if (_2 != 0)
    goto <bb 3>; [65.00%]
  else
    goto <bb 5>; [35.00%]

  <bb 3> [local count: 697932186]:
  _3 = ring_16(D)->rd_wb_bd;
  _4 ={v} _3->control.info.desc_en;
  if (_4 != 0)
    goto <bb 5>; [52.23%]
  else
    goto <bb 4>; [47.77%]

  <bb 4> [local count: 333402205]:
  # DEBUG BEGIN_STMT
  _1->control.info.desc_en ={v} 0;
  # DEBUG BEGIN_STMT
  _3->control.info.desc_en ={v} 1;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" dmb" :  :  : "memory");
  # DEBUG BEGIN_STMT
  _5 = ring_16(D)->bd_read.rd_bd;
  _6 ={v} _5->data;
  _7 = (void *) _6;
  *buf_pa_20(D) = _7;
  # DEBUG BEGIN_STMT
  _8 = ring_16(D)->rd_wb_bd;
  _9 ={v} _8->buflen;
  _10 = (long unsigned int) _9;
  *length_22(D) = _10;
  # DEBUG BEGIN_STMT
  _11 ={v} _8->control.info.lifm;
  _12 = (unsigned char) _11;
  *lifm_24(D) = _12;
  # DEBUG BEGIN_STMT
  inc_read_index (ring_16(D));
  # DEBUG BEGIN_STMT
  # DEBUG ret => 0

  <bb 5> [local count: 1073741824]:
  # ret_13 = PHI <118(3), 0(4), 118(2)>
  # DEBUG ret => ret_13
  # DEBUG BEGIN_STMT
  return ret_13;

}


__attribute__((hot))
pfe_hif_ring_dequeue_buf (struct pfe_hif_ring_t * ring, void * * buf_pa, uint32_t * length, bool_t * lifm)
{
  errno_t ret;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  ret_7 = pfe_hif_ring_dequeue_buf_std (ring_2(D), buf_pa_3(D), length_4(D), lifm_5(D));
  # DEBUG ret => ret_7
  # DEBUG BEGIN_STMT
  return ret_7;

}


__attribute__((hot))
pfe_hif_ring_enqueue_buf_std (struct pfe_hif_ring_t * ring, const void * buf_pa, uint32_t length, bool_t lifm)
{
  errno_t ret;
  struct pfe_hif_bd_t * _1;
  <unnamed-unsigned:1> _2;
  long int _3;
  long int _4;
  long unsigned int buf_pa.0_5;
  short unsigned int _6;
  struct pfe_hif_wb_bd_t * _7;
  struct pfe_hif_bd_t * _8;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = ring_13(D)->bd_write.wr_bd;
  _2 ={v} _1->control.info.desc_en;
  _3 = (long int) _2;
  _4 = __builtin_expect (_3, 0);
  if (_4 != 0)
    goto <bb 3>; [10.00%]
  else
    goto <bb 4>; [90.00%]

  <bb 3> [local count: 107374182]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pfe_hm_report (1, 2, 1, "[%s:%d] Can\'t insert buffer since the BD entry is already used\n", "./tools/tresos_mcore_bsw/plugins/Eth_43_PFE_TS_T40D11M14I0R0/src/pfe_hif_ring.c", 621, "");
  # DEBUG BEGIN_STMT
  oal_util_raise_dem_for_drv_runtime_err ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ret => 5
  goto <bb 8>; [100.00%]

  <bb 4> [local count: 966367642]:
  # DEBUG BEGIN_STMT
  buf_pa.0_5 = (long unsigned int) buf_pa_14(D);
  _1->data ={v} buf_pa.0_5;
  # DEBUG BEGIN_STMT
  _6 = (short unsigned int) length_16(D);
  _1->buflen ={v} _6;
  # DEBUG BEGIN_STMT
  _1->check.status ={v} 0;
  # DEBUG BEGIN_STMT
  if (lifm_19(D) != 0)
    goto <bb 5>; [50.00%]
  else
    goto <bb 6>; [50.00%]

  <bb 5> [local count: 483183821]:
  # DEBUG BEGIN_STMT
  _1->control.info.lifm ={v} 1;
  goto <bb 7>; [100.00%]

  <bb 6> [local count: 483183821]:
  # DEBUG BEGIN_STMT
  _1->control.info.lifm ={v} 0;

  <bb 7> [local count: 966367642]:
  # DEBUG BEGIN_STMT
  _7 = ring_13(D)->wr_wb_bd;
  _7->control.info.desc_en ={v} 1;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" dmb" :  :  : "memory");
  # DEBUG BEGIN_STMT
  _8 = ring_13(D)->bd_write.wr_bd;
  _8->control.info.desc_en ={v} 1;
  # DEBUG BEGIN_STMT
  inc_write_index (ring_13(D));
  # DEBUG BEGIN_STMT
  # DEBUG ret => 0

  <bb 8> [local count: 1073741824]:
  # ret_9 = PHI <5(3), 0(7)>
  # DEBUG ret => ret_9
  # DEBUG BEGIN_STMT
  return ret_9;

}


__attribute__((hot))
pfe_hif_ring_enqueue_buf (struct pfe_hif_ring_t * ring, const void * buf_pa, uint32_t length, uint32_t lmem_header_size, bool_t lifm)
{
  errno_t ret;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  ret_7 = pfe_hif_ring_enqueue_buf_std (ring_2(D), buf_pa_3(D), length_4(D), lifm_5(D));
  # DEBUG ret => ret_7
  # DEBUG BEGIN_STMT
  return ret_7;

}


__attribute__((hot, pure))
pfe_hif_ring_get_len (const struct pfe_hif_ring_t * ring)
{
  uint32_t ring_len;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG ring_len => 0
  # DEBUG BEGIN_STMT
  ring_len_3 = ring_2(D)->length;
  # DEBUG ring_len => ring_len_3
  # DEBUG BEGIN_STMT
  return ring_len_3;

}


__attribute__((hot, pure))
pfe_hif_ring_is_on_head (const struct pfe_hif_ring_t * ring)
{
  bool_t ret;
  struct pfe_hif_wb_bd_t * _1;
  void * _2;
  _Bool _3;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = ring_5(D)->rd_wb_bd;
  _2 = ring_5(D)->wb_tbl_base_va;
  _3 = _1 == _2;
  ret_6 = (bool_t) _3;
  # DEBUG ret => ret_6
  # DEBUG BEGIN_STMT
  return ret_6;

}


__attribute__((cold))
pfe_hif_ring_find_wb_entry (struct pfe_hif_ring_t * ring, bool_t valid, uint32_t * index)
{
  errno_t ret;
  uint32_t ring_idx;
  bool_t flag;
  struct pfe_hif_wb_bd_t * wb;
  void * _1;
  long unsigned int _2;
  <unnamed-unsigned:1> _3;
  <unnamed-unsigned:1> _4;
  <unnamed-unsigned:1> _5;
  long unsigned int _6;

  <bb 2> [local count: 58527770]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG flag => 0
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ret => 2
  # DEBUG BEGIN_STMT
  # DEBUG ring_idx => 0
  goto <bb 14>; [100.00%]

  <bb 3> [local count: 1034442873]:
  # DEBUG BEGIN_STMT
  _1 = ring_14(D)->wb_tbl_base_pa;
  _2 = ring_idx_9 * 8;
  wb_15 = _1 + _2;
  # DEBUG wb => wb_15
  # DEBUG BEGIN_STMT
  if (valid_16(D) == 1)
    goto <bb 4>; [34.00%]
  else
    goto <bb 6>; [66.00%]

  <bb 4> [local count: 351710577]:
  # DEBUG BEGIN_STMT
  _3 ={v} wb_15->control.info.desc_en;
  if (_3 != 0)
    goto <bb 6>; [96.34%]
  else
    goto <bb 5>; [3.66%]

  <bb 5> [local count: 12872607]:
  # ring_idx_21 = PHI <ring_idx_9(4)>
  # DEBUG BEGIN_STMT
  *index_17(D) = ring_idx_21;
  # DEBUG BEGIN_STMT
  # DEBUG ret => 0
  # DEBUG BEGIN_STMT
  goto <bb 15>; [100.00%]

  <bb 6> [local count: 1021570266]:
  # DEBUG BEGIN_STMT
  if (valid_16(D) == 0)
    goto <bb 7>; [50.00%]
  else
    goto <bb 13>; [50.00%]

  <bb 7> [local count: 510785133]:
  # DEBUG BEGIN_STMT
  if (flag_8 == 1)
    goto <bb 8>; [34.00%]
  else
    goto <bb 10>; [66.00%]

  <bb 8> [local count: 173666945]:
  _4 ={v} wb_15->control.info.desc_en;
  if (_4 != 0)
    goto <bb 9>; [3.66%]
  else
    goto <bb 10>; [96.34%]

  <bb 9> [local count: 6356210]:
  # ring_idx_12 = PHI <ring_idx_9(8)>
  # DEBUG BEGIN_STMT
  *index_17(D) = ring_idx_12;
  # DEBUG BEGIN_STMT
  # DEBUG ret => 0
  # DEBUG BEGIN_STMT
  goto <bb 15>; [100.00%]

  <bb 10> [local count: 504428923]:
  # DEBUG BEGIN_STMT
  if (flag_8 == 0)
    goto <bb 11>; [50.00%]
  else
    goto <bb 13>; [50.00%]

  <bb 11> [local count: 252214462]:
  _5 ={v} wb_15->control.info.desc_en;
  if (_5 != 0)
    goto <bb 13>; [50.00%]
  else
    goto <bb 12>; [50.00%]

  <bb 12> [local count: 126107231]:
  # DEBUG BEGIN_STMT
  # DEBUG flag => 1

  <bb 13> [local count: 1015214058]:
  # flag_7 = PHI <flag_8(6), flag_8(10), 0(11), 1(12)>
  # DEBUG flag => flag_7
  # DEBUG BEGIN_STMT
  ring_idx_20 = ring_idx_9 + 1;
  # DEBUG ring_idx => ring_idx_20

  <bb 14> [local count: 1073741824]:
  # flag_8 = PHI <0(2), flag_7(13)>
  # ring_idx_9 = PHI <0(2), ring_idx_20(13)>
  # DEBUG ring_idx => ring_idx_9
  # DEBUG flag => flag_8
  # DEBUG BEGIN_STMT
  _6 = ring_14(D)->length;
  if (_6 > ring_idx_9)
    goto <bb 3>; [96.34%]
  else
    goto <bb 15>; [3.66%]

  <bb 15> [local count: 58527768]:
  # ret_10 = PHI <0(5), 0(9), 2(14)>
  # DEBUG ret => ret_10
  # DEBUG BEGIN_STMT
  return ret_10;

}


__attribute__((cold))
pfe_hif_ring_force_index (struct pfe_hif_ring_t * ring, uint32_t index)
{
  uint32_t offset;
  long unsigned int _1;
  void * _2;
  long unsigned int _3;
  struct pfe_hif_bd_t * _4;
  void * _5;
  long unsigned int _6;
  struct pfe_hif_wb_bd_t * _7;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ret => 0
  # DEBUG BEGIN_STMT
  _1 = ring_9(D)->length;
  offset_11 = index_10(D) % _1;
  # DEBUG offset => offset_11
  # DEBUG BEGIN_STMT
  ring_9(D)->read_idx = offset_11;
  # DEBUG BEGIN_STMT
  _2 = ring_9(D)->base_va;
  _3 = offset_11 * 16;
  _4 = _2 + _3;
  ring_9(D)->bd_read.rd_bd = _4;
  # DEBUG BEGIN_STMT
  _5 = ring_9(D)->wb_tbl_base_va;
  _6 = offset_11 * 8;
  _7 = _5 + _6;
  ring_9(D)->rd_wb_bd = _7;
  # DEBUG BEGIN_STMT
  ring_9(D)->write_idx = offset_11;
  # DEBUG BEGIN_STMT
  ring_9(D)->bd_write.wr_bd = _4;
  # DEBUG BEGIN_STMT
  ring_9(D)->wr_wb_bd = _7;
  # DEBUG BEGIN_STMT
  return 0;

}


__attribute__((cold))
pfe_hif_ring_revalidate_direct (const struct pfe_hif_ring_t * ring, uint32_t index)
{
  void * _1;
  long unsigned int _2;
  struct pfe_hif_bd_t * _3;
  void * _4;
  long unsigned int _5;
  struct pfe_hif_wb_bd_t * _6;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  _1 = ring_8(D)->base_va;
  _2 = index_9(D) * 16;
  _3 = _1 + _2;
  _3->control.info.desc_en ={v} 1;
  # DEBUG BEGIN_STMT
  _4 = ring_8(D)->wb_tbl_base_va;
  _5 = index_9(D) * 8;
  _6 = _4 + _5;
  _6->control.info.desc_en ={v} 0;
  return;

}


__attribute__((cold))
pfe_hif_ring_invalidate_direct (const struct pfe_hif_ring_t * ring, uint32_t index)
{
  void * _1;
  long unsigned int _2;
  struct pfe_hif_bd_t * _3;
  void * _4;
  long unsigned int _5;
  struct pfe_hif_wb_bd_t * _6;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  _1 = ring_8(D)->base_va;
  _2 = index_9(D) * 16;
  _3 = _1 + _2;
  _3->control.info.desc_en ={v} 0;
  # DEBUG BEGIN_STMT
  _4 = ring_8(D)->wb_tbl_base_va;
  _5 = index_9(D) * 8;
  _6 = _4 + _5;
  _6->seqnum ={v} 65535;
  # DEBUG BEGIN_STMT
  _6->control.info.desc_en ={v} 1;
  return;

}


__attribute__((cold, pure))
pfe_hif_ring_get_wb_tbl_len (const struct pfe_hif_ring_t * ring)
{
  uint32_t wb_tbl_len;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  wb_tbl_len_3 = ring_2(D)->length;
  # DEBUG wb_tbl_len => wb_tbl_len_3
  # DEBUG BEGIN_STMT
  return wb_tbl_len_3;

}


__attribute__((cold, pure))
pfe_hif_ring_get_wb_tbl_pa (const struct pfe_hif_ring_t * ring)
{
  void * wb_tbl_pa;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG wb_tbl_pa => 0B
  # DEBUG BEGIN_STMT
  wb_tbl_pa_3 = ring_2(D)->wb_tbl_base_pa;
  # DEBUG wb_tbl_pa => wb_tbl_pa_3
  # DEBUG BEGIN_STMT
  return wb_tbl_pa_3;

}


__attribute__((cold, pure))
pfe_hif_ring_get_base_pa (const struct pfe_hif_ring_t * ring)
{
  void * base_pa;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG base_pa => 0B
  # DEBUG BEGIN_STMT
  base_pa_3 = ring_2(D)->base_pa;
  # DEBUG base_pa => base_pa_3
  # DEBUG BEGIN_STMT
  return base_pa_3;

}


__attribute__((hot, pure))
pfe_hif_ring_get_fill_level (const struct pfe_hif_ring_t * ring)
{
  uint32_t fill_level;
  long unsigned int _1;
  long unsigned int _2;
  long unsigned int _3;
  long unsigned int _4;
  long unsigned int _5;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = ring_8(D)->read_idx;
  _2 = ring_8(D)->write_idx;
  if (_1 <= _2)
    goto <bb 3>; [50.00%]
  else
    goto <bb 4>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  fill_level_10 = _2 - _1;
  # DEBUG fill_level => fill_level_10
  goto <bb 5>; [100.00%]

  <bb 4> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  _3 = ring_8(D)->length;
  _4 = _3 * 2;
  _5 = _2 - _1;
  fill_level_9 = _4 + _5;
  # DEBUG fill_level => fill_level_9

  <bb 5> [local count: 1073741824]:
  # fill_level_6 = PHI <fill_level_10(3), fill_level_9(4)>
  # DEBUG fill_level => fill_level_6
  # DEBUG BEGIN_STMT
  return fill_level_6;

}


__attribute__((hot))
inc_read_index (struct pfe_hif_ring_t * ring)
{
  uint32_t idx;
  long unsigned int _1;
  long unsigned int _2;
  long unsigned int _3;
  void * _4;
  long unsigned int _5;
  struct pfe_hif_bd_t * _6;
  void * _7;
  long unsigned int _8;
  struct pfe_hif_wb_bd_t * _9;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  _1 = ring_13(D)->read_idx;
  idx_14 = _1 + 1;
  # DEBUG idx => idx_14
  # DEBUG BEGIN_STMT
  _2 = ring_13(D)->length;
  _3 = _2 << 1;
  if (_3 <= idx_14)
    goto <bb 3>; [50.00%]
  else
    goto <bb 4>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  # DEBUG idx => 0

  <bb 4> [local count: 1073741824]:
  # idx_10 = PHI <idx_14(2), 0(3)>
  # DEBUG idx => idx_10
  # DEBUG BEGIN_STMT
  ring_13(D)->read_idx = idx_10;
  # DEBUG BEGIN_STMT
  if (_2 <= idx_10)
    goto <bb 5>; [50.00%]
  else
    goto <bb 6>; [50.00%]

  <bb 5> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  idx_16 = idx_10 - _2;
  # DEBUG idx => idx_16

  <bb 6> [local count: 1073741824]:
  # idx_11 = PHI <idx_10(4), idx_16(5)>
  # DEBUG idx => idx_11
  # DEBUG BEGIN_STMT
  _4 = ring_13(D)->base_va;
  _5 = idx_11 * 16;
  _6 = _4 + _5;
  ring_13(D)->bd_read.rd_bd = _6;
  # DEBUG BEGIN_STMT
  _7 = ring_13(D)->wb_tbl_base_va;
  _8 = idx_11 * 8;
  _9 = _7 + _8;
  ring_13(D)->rd_wb_bd = _9;
  return;

}


__attribute__((hot))
dec_write_index_std (struct pfe_hif_ring_t * ring)
{
  uint32_t idx;
  long unsigned int _1;
  long unsigned int _2;
  long unsigned int _3;
  void * _4;
  long unsigned int _5;
  struct pfe_hif_bd_t * _6;
  void * _7;
  long unsigned int _8;
  struct pfe_hif_wb_bd_t * _9;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  idx_14 = ring_13(D)->write_idx;
  # DEBUG idx => idx_14
  # DEBUG BEGIN_STMT
  if (idx_14 == 0)
    goto <bb 3>; [50.00%]
  else
    goto <bb 4>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  _1 = ring_13(D)->length;
  # DEBUG BEGIN_STMT
  _2 = _1 * 2;
  idx_16 = _2 + 4294967295;
  # DEBUG idx => idx_16
  goto <bb 5>; [100.00%]

  <bb 4> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  idx_15 = idx_14 + 4294967295;
  # DEBUG idx => idx_15

  <bb 5> [local count: 1073741824]:
  # idx_10 = PHI <idx_16(3), idx_15(4)>
  # DEBUG idx => idx_10
  # DEBUG BEGIN_STMT
  ring_13(D)->write_idx = idx_10;
  # DEBUG BEGIN_STMT
  _3 = ring_13(D)->length;
  if (_3 <= idx_10)
    goto <bb 6>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 6> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  idx_18 = idx_10 - _3;
  # DEBUG idx => idx_18

  <bb 7> [local count: 1073741824]:
  # idx_11 = PHI <idx_10(5), idx_18(6)>
  # DEBUG idx => idx_11
  # DEBUG BEGIN_STMT
  _4 = ring_13(D)->base_va;
  _5 = idx_11 * 16;
  _6 = _4 + _5;
  ring_13(D)->bd_write.wr_bd = _6;
  # DEBUG BEGIN_STMT
  _7 = ring_13(D)->wb_tbl_base_va;
  _8 = idx_11 * 8;
  _9 = _7 + _8;
  ring_13(D)->wr_wb_bd = _9;
  return;

}


__attribute__((hot))
inc_write_index (struct pfe_hif_ring_t * ring)
{
  uint32_t idx;
  long unsigned int _1;
  long unsigned int _2;
  long unsigned int _3;
  void * _4;
  long unsigned int _5;
  struct pfe_hif_bd_t * _6;
  void * _7;
  long unsigned int _8;
  struct pfe_hif_wb_bd_t * _9;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  _1 = ring_13(D)->write_idx;
  idx_14 = _1 + 1;
  # DEBUG idx => idx_14
  # DEBUG BEGIN_STMT
  _2 = ring_13(D)->length;
  _3 = _2 << 1;
  if (_3 <= idx_14)
    goto <bb 3>; [50.00%]
  else
    goto <bb 4>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  # DEBUG idx => 0

  <bb 4> [local count: 1073741824]:
  # idx_10 = PHI <idx_14(2), 0(3)>
  # DEBUG idx => idx_10
  # DEBUG BEGIN_STMT
  ring_13(D)->write_idx = idx_10;
  # DEBUG BEGIN_STMT
  if (_2 <= idx_10)
    goto <bb 5>; [50.00%]
  else
    goto <bb 6>; [50.00%]

  <bb 5> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  idx_16 = idx_10 - _2;
  # DEBUG idx => idx_16

  <bb 6> [local count: 1073741824]:
  # idx_11 = PHI <idx_10(4), idx_16(5)>
  # DEBUG idx => idx_11
  # DEBUG BEGIN_STMT
  _4 = ring_13(D)->base_va;
  _5 = idx_11 * 16;
  _6 = _4 + _5;
  ring_13(D)->bd_write.wr_bd = _6;
  # DEBUG BEGIN_STMT
  _7 = ring_13(D)->wb_tbl_base_va;
  _8 = idx_11 * 8;
  _9 = _7 + _8;
  ring_13(D)->wr_wb_bd = _9;
  return;

}


