Parsed function:pfe_idex_prep_tx_header_xmit.isra.0
Parsed function:pfe_idex_down
Parsed function:pfe_idex_set_rpc_ret_val
Parsed function:pfe_idex_rpc
Parsed function:pfe_idex_master_rpc
Parsed function:pfe_idex_fini
Parsed function:pfe_idex_init
Parsed function:pfe_idex_send_frame
Parsed function:pfe_idex_request_send
Parsed function:check_time_out
Parsed function:pfe_idex_send_response
Parsed function:pfe_idex_send_dummy_frame
Parsed function:pfe_idex_do_rx
Parsed function:process_idex_request
Parsed function:set_idex_sequence_number
Parsed function:get_client_index
Parsed function:pfe_idex_ihc_handler
Dump after hash based groups
Congruence classes: 17 (unique hash values: 17), with total: 17 items
Class size histogram [num of members]: number of classe number of classess
[1]: 17 classes


Dump after WPA based types groups
Congruence classes: 17 (unique hash values: 17), with total: 17 items
Class size histogram [num of members]: number of classe number of classess
[1]: 17 classes


Worklist has been filled with: 12
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 17 (unique hash values: 17), with total: 17 items
Class size histogram [num of members]: number of classe number of classess
[1]: 17 classes


Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 17 (unique hash values: 17), with total: 17 items
Class size histogram [num of members]: number of classe number of classess
[1]: 17 classes


Worklist has been filled with: 12
Address reference subdivision created: 0 new classes.
Congruence classes: 17 (unique hash values: 17), with total: 17 items
Class size histogram [num of members]: number of classe number of classess
[1]: 17 classes



Item count: 17
Congruent classes before: 17, after: 17
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Fraction of visited symbols: 0.00%

pfe_idex_prep_tx_header_xmit.isra.0 (struct pfe_idex_frame_header_t * idex_hdr, struct hif_drv_sg_list_t sg_list, uint32_t ISRA.29)
{
  errno_t ret;
  long unsigned int _2;
  unsigned char _3;
  <unnamed type> _5;
  int _6;
  long unsigned int _7;
  long unsigned int _8;
  long unsigned int _9;
  long unsigned int _10;
  long unsigned int _11;
  long unsigned int _12;
  long unsigned int _13;
  long unsigned int _14;
  long unsigned int _15;
  long unsigned int _16;
  struct pfe_hif_drv_client_t * _17;

  <bb 5> [local count: 1073741824]:
  # DEBUG hif_chnl s=> hif_chnl

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG ret => 22
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG tx_hdr => idex_hdr_4(D)
  # DEBUG BEGIN_STMT
  _2 = ISRA.29_27(D);
  _3 = (unsigned char) _2;
  MEM[(struct pfe_ct_hif_tx_hdr_t *)idex_hdr_4(D)].chid = _3;
  # DEBUG BEGIN_STMT
  _5 = sg_list.dst_phy;
  _6 = (int) _5;
  _7 = 1 << _6;
  _8 = _7 >> 24;
  _9 = _7 >> 8;
  _10 = _9 & 65280;
  _11 = _8 | _10;
  _12 = _7 << 8;
  _13 = _12 & 16711680;
  _14 = _11 | _13;
  _15 = _7 << 24;
  _16 = _14 | _15;
  MEM[(struct pfe_ct_hif_tx_hdr_t *)idex_hdr_4(D)].e_phy_ifs = _16;
  # DEBUG BEGIN_STMT
  MEM[(struct pfe_ct_hif_tx_hdr_t *)idex_hdr_4(D)].flags = 192;
  # DEBUG BEGIN_STMT
  _17 = pfe_idex.ihc_client;
  ret_18 = pfe_hif_drv_client_xmit_sg_pkt (_17, 0, &sg_list, idex_hdr_4(D));
  # DEBUG ret => ret_18
  # DEBUG BEGIN_STMT
  if (ret_18 != 0)
    goto <bb 3>; [33.00%]
  else
    goto <bb 4>; [67.00%]

  <bb 3> [local count: 354334802]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pfe_hm_report (1, 2, 1, "[%s:%d] IDEX frame TX failed. Err %u\n", "./tools/tresos_mcore_bsw/plugins/Eth_43_PFE_TS_T40D11M14I0R0/src/pfe_idex.c", 1056, ret_18, "");
  # DEBUG BEGIN_STMT
  oal_util_raise_dem_for_drv_runtime_err ();
  # DEBUG BEGIN_STMT

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return ret_18;

}


pfe_idex_down ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  pfe_idex.is_up = 0;
  return;

}


pfe_idex_set_rpc_ret_val (errno_t retval, void * resp, uint16_t resp_len)
{
  errno_t ret;
  void * payload;
  struct pfe_remote_client_t * client;
  long unsigned int _1;
  short unsigned int _2;
  long unsigned int retval.17_3;
  long unsigned int _4;
  long unsigned int _5;
  long unsigned int _6;
  long unsigned int _7;
  long unsigned int _8;
  long unsigned int _9;
  long unsigned int _10;
  long unsigned int _11;
  long unsigned int _12;
  int _13;
  unsigned int rpc_resp.21_14;
  unsigned int _15;
  long unsigned int _16;
  <unnamed type> _17;
  long unsigned int _18;
  short unsigned int _19;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  client_22 = idex_current_client;
  # DEBUG client => client_22
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG rpc_resp => &pfe_idex_response_frame.msg_rpc
  # DEBUG BEGIN_STMT
  autolibc_memset (&pfe_idex_response_frame, 0, 1538);
  # DEBUG BEGIN_STMT
  _1 = client_22->rpc_msg.rpc_id;
  MEM[(struct pfe_idex_msg_rpc_t *)&pfe_idex_response_frame + 25B].rpc_id = _1;
  # DEBUG BEGIN_STMT
  _2 = resp_len_25(D) r>> 8;
  MEM[(struct pfe_idex_msg_rpc_t *)&pfe_idex_response_frame + 25B].plen = _2;
  # DEBUG BEGIN_STMT
  retval.17_3 = (long unsigned int) retval_27(D);
  _4 = retval.17_3 >> 24;
  _5 = retval.17_3 >> 8;
  _6 = _5 & 65280;
  _7 = _4 | _6;
  _8 = retval.17_3 << 8;
  _9 = _8 & 16711680;
  _10 = _7 | _9;
  _11 = retval.17_3 << 24;
  _12 = _10 | _11;
  _13 = (int) _12;
  MEM[(struct pfe_idex_msg_rpc_t *)&pfe_idex_response_frame + 25B].rpc_ret = _13;
  # DEBUG BEGIN_STMT
  rpc_resp.21_14 = (unsigned int) &pfe_idex_response_frame.msg_rpc;
  _15 = rpc_resp.21_14 + 10;
  payload_29 = (void *) _15;
  # DEBUG payload => payload_29
  # DEBUG BEGIN_STMT
  _16 = (long unsigned int) resp_len_25(D);
  autolibc_memcpy (payload_29, resp_30(D), _16);
  # DEBUG BEGIN_STMT
  _17 = client_22->phy_id;
  _18 = client_22->seqnum;
  _19 = resp_len_25(D) + 10;
  ret_33 = pfe_idex_send_response (_17, 1, _18, _19);
  # DEBUG ret => ret_33
  # DEBUG BEGIN_STMT
  if (ret_33 != 0)
    goto <bb 3>; [33.00%]
  else
    goto <bb 4>; [67.00%]

  <bb 3> [local count: 354334802]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pfe_hm_report (1, 2, 1, "[%s:%d] IDEX RPC response failed\n", "./tools/tresos_mcore_bsw/plugins/Eth_43_PFE_TS_T40D11M14I0R0/src/pfe_idex.c", 1534, "");
  # DEBUG BEGIN_STMT
  oal_util_raise_dem_for_drv_runtime_err ();

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return ret_33;

}


pfe_idex_rpc (pfe_ct_phy_if_id_t dst_phy, uint32_t id, const void * buf, uint16_t buf_len, void * resp, uint16_t resp_len)
{
  void * payload;
  const uint16_t response_buf_size;
  const uint16_t request_buf_size;
  errno_t ret;
  <unnamed type> _1;
  unsigned int _2;
  unsigned int _3;
  unsigned int _4;
  unsigned int _5;
  long unsigned int _6;
  long unsigned int _7;
  long unsigned int _8;
  long unsigned int _9;
  long unsigned int _10;
  long unsigned int _11;
  long unsigned int _12;
  long unsigned int _13;
  long unsigned int _14;
  short unsigned int _15;
  unsigned int msg_req.13_16;
  unsigned int _17;
  long unsigned int _18;
  long unsigned int _19;
  short unsigned int _20;
  unsigned int msg_resp.14_21;
  unsigned int _22;
  long unsigned int _23;
  const uint32_t iftmp.12_26;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG ret => 0
  # DEBUG BEGIN_STMT
  request_buf_size_30 = buf_len_29(D) + 10;
  # DEBUG request_buf_size => request_buf_size_30
  # DEBUG BEGIN_STMT
  response_buf_size_32 = resp_len_31(D) + 10;
  # DEBUG response_buf_size => response_buf_size_32
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = pfe_idex.remote.server.version;
  if (_1 > 1)
    goto <bb 5>; [59.00%]
  else
    goto <bb 3>; [41.00%]

  <bb 3> [local count: 440234148]:
  if (id_34(D) == 4294967295)
    goto <bb 5>; [34.00%]
  else
    goto <bb 4>; [66.00%]

  <bb 4> [local count: 290554537]:

  <bb 5> [local count: 1073741824]:
  # iftmp.12_26 = PHI <40(3), 1(4), 40(2)>
  # DEBUG resend_count => iftmp.12_26
  # DEBUG BEGIN_STMT
  _2 = (unsigned int) request_buf_size_30;
  _3 = _2 + 39;
  if (_3 > 1522)
    goto <bb 8>; [20.96%]
  else
    goto <bb 6>; [79.04%]

  <bb 6> [local count: 848685538]:
  _4 = (unsigned int) response_buf_size_32;
  _5 = _4 + 39;
  if (_5 > 1522)
    goto <bb 8>; [52.23%]
  else
    goto <bb 7>; [47.77%]

  <bb 7> [local count: 405417081]:
  # DEBUG ret => 0
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  autolibc_memset (&pfe_idex_response_frame.msg_rpc, 0, _4);
  # DEBUG BEGIN_STMT
  autolibc_memset (&pfe_idex_request_frame.msg, 0, _2);
  # DEBUG BEGIN_STMT
  # DEBUG msg_req => &pfe_idex_request_frame.msg
  # DEBUG BEGIN_STMT
  # DEBUG msg_resp => &pfe_idex_response_frame.msg_rpc
  # DEBUG BEGIN_STMT
  _6 = id_34(D) >> 24;
  _7 = id_34(D) >> 8;
  _8 = _7 & 65280;
  _9 = _6 | _8;
  _10 = id_34(D) << 8;
  _11 = _10 & 16711680;
  _12 = _9 | _11;
  _13 = id_34(D) << 24;
  _14 = _12 | _13;
  MEM[(struct pfe_idex_msg_rpc_t *)&pfe_idex_request_frame + 55B].rpc_id = _14;
  # DEBUG BEGIN_STMT
  _15 = buf_len_29(D) r>> 8;
  MEM[(struct pfe_idex_msg_rpc_t *)&pfe_idex_request_frame + 55B].plen = _15;
  # DEBUG BEGIN_STMT
  MEM[(struct pfe_idex_msg_rpc_t *)&pfe_idex_request_frame + 55B].rpc_ret = 0;
  # DEBUG BEGIN_STMT
  MEM[(struct pfe_idex_msg_rpc_t *)&pfe_idex_response_frame + 25B].plen = resp_len_31(D);
  # DEBUG BEGIN_STMT
  pfe_idex.remote.server.rpc_msg = &pfe_idex_response_frame.msg_rpc;
  # DEBUG BEGIN_STMT
  msg_req.13_16 = (unsigned int) &pfe_idex_request_frame.msg;
  _17 = msg_req.13_16 + 10;
  payload_44 = (void *) _17;
  # DEBUG payload => payload_44
  # DEBUG BEGIN_STMT
  _18 = (long unsigned int) buf_len_29(D);
  autolibc_memcpy (payload_44, buf_45(D), _18);
  # DEBUG BEGIN_STMT
  ret_49 = pfe_idex_request_send (dst_phy_47(D), 1, iftmp.12_26, request_buf_size_30);
  # DEBUG ret => ret_49
  # DEBUG BEGIN_STMT
  if (ret_49 != 0)
    goto <bb 9>; [33.00%]
  else
    goto <bb 10>; [67.00%]

  <bb 8> [local count: 668324743]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pfe_hm_report (1, 2, 1, "[%s:%d] Buffers too big for request/response transport\n", "./tools/tresos_mcore_bsw/plugins/Eth_43_PFE_TS_T40D11M14I0R0/src/pfe_idex.c", 1406, "");
  # DEBUG BEGIN_STMT
  oal_util_raise_dem_for_drv_runtime_err ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ret => 11
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 9> [local count: 133787637]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pfe_hm_report (1, 2, 1, "[%s:%d] RPC transport failed: %d\n", "./tools/tresos_mcore_bsw/plugins/Eth_43_PFE_TS_T40D11M14I0R0/src/pfe_idex.c", 1445, ret_49, "");
  # DEBUG BEGIN_STMT
  oal_util_raise_dem_for_drv_runtime_err ();
  # DEBUG BEGIN_STMT
  goto <bb 15>; [100.00%]

  <bb 10> [local count: 271629444]:
  # DEBUG BEGIN_STMT
  _19 = MEM[(struct pfe_idex_msg_rpc_t *)&pfe_idex_response_frame + 25B].rpc_id;
  if (_19 != id_34(D))
    goto <bb 15>; [66.00%]
  else
    goto <bb 11>; [34.00%]

  <bb 11> [local count: 92354011]:
  # DEBUG BEGIN_STMT
  ret_50 = MEM[(struct pfe_idex_msg_rpc_t *)&pfe_idex_response_frame + 25B].rpc_ret;
  # DEBUG ret => ret_50
  # DEBUG BEGIN_STMT
  _20 = MEM[(struct pfe_idex_msg_rpc_t *)&pfe_idex_response_frame + 25B].plen;
  if (_20 == 0)
    goto <bb 15>; [50.00%]
  else
    goto <bb 12>; [50.00%]

  <bb 12> [local count: 46177005]:
  # DEBUG BEGIN_STMT
  if (_20 > resp_len_31(D))
    goto <bb 13>; [50.00%]
  else
    goto <bb 14>; [50.00%]

  <bb 13> [local count: 23088503]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pfe_hm_report (1, 2, 1, "[%s:%d] Caller\'s buffer is too small\n", "./tools/tresos_mcore_bsw/plugins/Eth_43_PFE_TS_T40D11M14I0R0/src/pfe_idex.c", 1469, "");
  # DEBUG BEGIN_STMT
  oal_util_raise_dem_for_drv_runtime_err ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ret => 11
  goto <bb 15>; [100.00%]

  <bb 14> [local count: 23088503]:
  # DEBUG BEGIN_STMT
  msg_resp.14_21 = (unsigned int) &pfe_idex_response_frame.msg_rpc;
  _22 = msg_resp.14_21 + 10;
  payload_51 = (void *) _22;
  # DEBUG payload => payload_51
  # DEBUG BEGIN_STMT
  _23 = (long unsigned int) _20;
  autolibc_memcpy (resp_52(D), payload_51, _23);

  <bb 15> [local count: 405417080]:
  # ret_24 = PHI <ret_49(9), 22(10), ret_50(11), 11(13), ret_50(14)>
  # DEBUG ret => ret_24
  # DEBUG BEGIN_STMT
  pfe_idex.remote.server.rpc_msg = 0B;

  <bb 16> [local count: 1073741823]:
  # ret_25 = PHI <11(8), ret_24(15)>
  # DEBUG ret => ret_25
  # DEBUG BEGIN_STMT
  return ret_25;

}


pfe_idex_master_rpc (uint32_t id, const void * buf, uint16_t buf_len, void * resp, uint16_t resp_len)
{
  errno_t ret;
  unsigned char _1;
  <unnamed type> _2;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG idex => &pfe_idex
  # DEBUG BEGIN_STMT
  # DEBUG ret => 115
  # DEBUG BEGIN_STMT
  _1 = pfe_idex.is_server;
  if (_1 == 0)
    goto <bb 3>; [47.77%]
  else
    goto <bb 4>; [52.23%]

  <bb 3> [local count: 512926469]:
  # DEBUG BEGIN_STMT
  _2 = pfe_idex.remote.server.phy_id;
  ret_12 = pfe_idex_rpc (_2, id_6(D), buf_7(D), buf_len_8(D), resp_9(D), resp_len_10(D));
  # DEBUG ret => ret_12

  <bb 4> [local count: 1073741824]:
  # ret_3 = PHI <115(2), ret_12(3)>
  # DEBUG ret => ret_3
  # DEBUG BEGIN_STMT
  return ret_3;

}


pfe_idex_fini ()
{
  uint8_t i;
  struct pfe_hif_t * _1;
  struct pfe_hif_drv_client_t * _2;
  unsigned char _3;
  int _4;
  struct pfe_idex_response_t * _5;

  <bb 2> [local count: 631612842]:
  # DEBUG BEGIN_STMT
  # DEBUG idex => &pfe_idex
  # DEBUG BEGIN_STMT
  pfe_idex.is_up = 0;
  # DEBUG BEGIN_STMT
  _1 = pfe_idex.hif;
  pfe_hif_clear_master_up (_1);
  # DEBUG BEGIN_STMT
  pfe_idex.hif = 0B;
  # DEBUG BEGIN_STMT
  pfe_idex.rpc_cbk = 0B;
  # DEBUG BEGIN_STMT
  pfe_idex.rpc_cbk_arg = 0B;
  # DEBUG BEGIN_STMT
  pfe_idex.txc_free_cbk = 0B;
  # DEBUG BEGIN_STMT
  _2 = pfe_idex.ihc_client;
  if (_2 != 0B)
    goto <bb 3>; [53.47%]
  else
    goto <bb 4>; [46.53%]

  <bb 3> [local count: 337723386]:
  # DEBUG BEGIN_STMT
  pfe_hif_drv_client_unregister (_2);
  # DEBUG BEGIN_STMT
  pfe_idex.ihc_client = 0B;

  <bb 4> [local count: 631612842]:
  # DEBUG BEGIN_STMT
  _3 = pfe_idex.is_server;
  if (_3 == 1)
    goto <bb 10>; [34.00%]
  else
    goto <bb 9>; [66.00%]

  <bb 10> [local count: 214748366]:
  goto <bb 8>; [100.00%]

  <bb 5> [local count: 858993460]:
  # DEBUG BEGIN_STMT
  _4 = (int) i_6;
  _5 = pfe_idex.remote.clients[_4].response;
  if (_5 != 0B)
    goto <bb 6>; [70.00%]
  else
    goto <bb 7>; [30.00%]

  <bb 6> [local count: 601295422]:
  # DEBUG BEGIN_STMT
  *_5 = {};
  # DEBUG BEGIN_STMT
  pfe_idex.remote.clients[_4].response = 0B;

  <bb 7> [local count: 858993460]:
  # DEBUG BEGIN_STMT
  i_22 = i_6 + 1;
  # DEBUG i => i_22

  <bb 8> [local count: 1073741824]:
  # i_6 = PHI <i_22(7), 0(10)>
  # DEBUG i => i_6
  # DEBUG BEGIN_STMT
  if (i_6 != 4)
    goto <bb 5>; [80.00%]
  else
    goto <bb 9>; [20.00%]

  <bb 9> [local count: 631612841]:
  # DEBUG BEGIN_STMT
  pfe_idex.rpc_req_lock_init = 0;
  return;

}


pfe_idex_init (struct pfe_hif_drv_t * hif_drv, pfe_ct_phy_if_id_t master, struct pfe_hif_t * hif, void (*pfe_idex_rpc_cbk_t) (pfe_ct_phy_if_id_t, uint32_t, void *, uint16_t, void *) cbk, void * arg, void (*pfe_idex_tx_conf_free_cbk_t) (void *) txcf_cbk)
{
  errno_t ret;
  struct pfe_hif_drv_client_t * _1;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG idex => &pfe_idex
  # DEBUG BEGIN_STMT
  # DEBUG ret => 0
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  autolibc_memset (&pfe_idex, 0, 180);
  # DEBUG BEGIN_STMT
  autolibc_memset (&pfe_idex_dummy_frame, 0, 80);
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pfe_idex.is_server = 1;
  # DEBUG BEGIN_STMT
  pfe_idex.hif = hif_7(D);
  # DEBUG BEGIN_STMT
  pfe_idex.txc_free_cbk = txcf_cbk_9(D);
  # DEBUG BEGIN_STMT
  pfe_idex.rpc_req_lock_init = 1;
  # DEBUG BEGIN_STMT
  _1 = pfe_hif_drv_ihc_client_register (hif_drv_12(D), pfe_idex_ihc_handler, 0B);
  pfe_idex.ihc_client = _1;
  # DEBUG BEGIN_STMT
  if (_1 == 0B)
    goto <bb 4>; [10.21%]
  else
    goto <bb 3>; [89.79%]

  <bb 3> [local count: 964112785]:
  # DEBUG ret => 0
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG cbk => cbk_18(D)
  # DEBUG arg => arg_19(D)
  # DEBUG INLINE_ENTRY pfe_idex_set_rpc_cbk
  # DEBUG BEGIN_STMT
  # DEBUG idex => &pfe_idex
  # DEBUG BEGIN_STMT
  pfe_idex.rpc_cbk_arg = arg_19(D);
  # DEBUG BEGIN_STMT
  pfe_idex.rpc_cbk = cbk_18(D);
  # DEBUG BEGIN_STMT
  # DEBUG cbk => NULL
  # DEBUG arg => NULL
  # DEBUG ret => 0
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pfe_idex.is_up = 1;
  goto <bb 5>; [100.00%]

  <bb 4> [local count: 109629040]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pfe_hm_report (1, 2, 1, "[%s:%d] Can\'t register IHC client\n", "./tools/tresos_mcore_bsw/plugins/Eth_43_PFE_TS_T40D11M14I0R0/src/pfe_idex.c", 1261, "");
  # DEBUG BEGIN_STMT
  oal_util_raise_dem_for_drv_runtime_err ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pfe_idex_fini ();
  # DEBUG BEGIN_STMT
  # DEBUG ret => 117
  # DEBUG BEGIN_STMT
  # DEBUG ret => 117
  # DEBUG BEGIN_STMT

  <bb 5> [local count: 1073741824]:
  # ret_23 = PHI <117(4), 0(3)>
  # DEBUG BEGIN_STMT
  return ret_23;

}


pfe_idex_send_frame (pfe_ct_phy_if_id_t dst_phy, pfe_idex_frame_type_t type, const void * data, uint16_t data_len)
{
  struct pfe_hif_chnl_t * hif_chnl;
  struct pfe_hif_drv_t * hif_drv;
  struct hif_drv_sg_list_t sg_list;
  errno_t ret;
  struct pfe_idex_frame_header_t * idex_hdr_pa;
  struct pfe_idex_frame_header_t * idex_hdr;
  unsigned char _1;
  long unsigned int _2;
  long unsigned int _3;
  struct pfe_hif_drv_client_t * _4;
  unsigned int data.0_5;
  unsigned int _6;
  unsigned int _7;
  long unsigned int _8;
  long unsigned int _9;
  long unsigned int _45;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ret => 0
  # DEBUG BEGIN_STMT
  sg_list = {};
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = pfe_idex.is_up;
  if (_1 == 0)
    goto <bb 3>; [50.00%]
  else
    goto <bb 4>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  _2 = pfe_idex.stats.tx_skips;
  _3 = _2 + 1;
  pfe_idex.stats.tx_skips = _3;
  # DEBUG BEGIN_STMT
  # DEBUG ret => 22

  <bb 4> [local count: 1073741824]:
  # ret_10 = PHI <0(2), 22(3)>
  # DEBUG ret => ret_10
  # DEBUG BEGIN_STMT
  _4 = pfe_idex.ihc_client;
  hif_drv_18 = pfe_hif_drv_client_get_drv (_4);
  # DEBUG hif_drv => hif_drv_18
  # DEBUG BEGIN_STMT
  if (ret_10 == 0)
    goto <bb 5>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 5> [local count: 536870913]:
  if (hif_drv_18 == 0B)
    goto <bb 6>; [10.21%]
  else
    goto <bb 7>; [89.79%]

  <bb 6> [local count: 54814520]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pfe_hm_report (1, 2, 1, "[%s:%d] Get hif_drv instance associated with the client failed\n", "./tools/tresos_mcore_bsw/plugins/Eth_43_PFE_TS_T40D11M14I0R0/src/pfe_idex.c", 1100, "");
  # DEBUG BEGIN_STMT
  oal_util_raise_dem_for_drv_runtime_err ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ret => 2
  goto <bb 13>; [100.00%]

  <bb 7> [local count: 1018927305]:
  # DEBUG BEGIN_STMT
  if (ret_10 == 0)
    goto <bb 8>; [33.00%]
  else
    goto <bb 13>; [67.00%]

  <bb 8> [local count: 336246010]:
  # DEBUG BEGIN_STMT
  hif_chnl_22 = pfe_hif_drv_get_chnl (hif_drv_18);
  # DEBUG hif_chnl => hif_chnl_22
  # DEBUG BEGIN_STMT
  if (hif_chnl_22 == 0B)
    goto <bb 9>; [18.75%]
  else
    goto <bb 10>; [81.25%]

  <bb 9> [local count: 63046127]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pfe_hm_report (1, 2, 1, "[%s:%d] Get channel associated with the hif_drv instance failed\n", "./tools/tresos_mcore_bsw/plugins/Eth_43_PFE_TS_T40D11M14I0R0/src/pfe_idex.c", 1108, "");
  # DEBUG BEGIN_STMT
  oal_util_raise_dem_for_drv_runtime_err ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ret => 2
  goto <bb 13>; [100.00%]

  <bb 10> [local count: 273199883]:
  # DEBUG BEGIN_STMT
  data.0_5 = (unsigned int) data_23(D);
  _6 = data.0_5 + 4294967294;
  idex_hdr_24 = (struct pfe_idex_frame_header_t *) _6;
  # DEBUG idex_hdr => idex_hdr_24
  # DEBUG BEGIN_STMT
  idex_hdr_24->dst_phy_if = dst_phy_25(D);
  # DEBUG BEGIN_STMT
  idex_hdr_24->type = type_27(D);
  # DEBUG BEGIN_STMT
  _7 = data.0_5 + 4294967278;
  idex_hdr_29 = (struct pfe_idex_frame_header_t *) _7;
  # DEBUG idex_hdr => idex_hdr_29
  # DEBUG BEGIN_STMT
  idex_hdr_pa_31 = oal_mm_virt_to_phys_contig (idex_hdr_29);
  # DEBUG idex_hdr_pa => idex_hdr_pa_31
  # DEBUG BEGIN_STMT
  if (idex_hdr_pa_31 == 0B)
    goto <bb 11>; [18.75%]
  else
    goto <bb 12>; [81.25%]

  <bb 11> [local count: 51224978]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pfe_hm_report (1, 2, 1, "[%s:%d] VA to PA conversion failed\n", "./tools/tresos_mcore_bsw/plugins/Eth_43_PFE_TS_T40D11M14I0R0/src/pfe_idex.c", 1155, "");
  # DEBUG BEGIN_STMT
  oal_util_raise_dem_for_drv_runtime_err ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ret => 11
  goto <bb 13>; [100.00%]

  <bb 12> [local count: 221974905]:
  # DEBUG BEGIN_STMT
  sg_list.size = 1;
  # DEBUG BEGIN_STMT
  sg_list.dst_phy = dst_phy_25(D);
  # DEBUG BEGIN_STMT
  sg_list.items[0].data_va = idex_hdr_29;
  # DEBUG BEGIN_STMT
  sg_list.items[0].data_pa = idex_hdr_pa_31;
  # DEBUG BEGIN_STMT
  _8 = (long unsigned int) data_len_36(D);
  _9 = _8 + 18;
  sg_list.items[0].len = _9;
  # DEBUG BEGIN_STMT
  _45 = MEM[(long unsigned int *)hif_chnl_22 + 4B];
  # DEBUG D#2 => hif_chnl_22
  ret_39 = pfe_idex_prep_tx_header_xmit.isra.0 (idex_hdr_29, sg_list, _45);
  # DEBUG ret => ret_39

  <bb 13> [local count: 1073741824]:
  # ret_11 = PHI <2(6), ret_10(7), 2(9), 11(11), ret_39(12)>
  # DEBUG ret => ret_11
  # DEBUG BEGIN_STMT
  sg_list ={v} {CLOBBER};
  return ret_11;

}


pfe_idex_request_send (pfe_ct_phy_if_id_t dst_phy, pfe_idex_request_type_t type, const uint32_t resend_count, uint16_t data_len)
{
  bool_t end_sending;
  errno_t ret;
  uint32_t sending_counter;
  uint32_t timeout_ms;
  long unsigned int _1;
  long unsigned int _2;
  long unsigned int _4;
  long unsigned int _5;
  long unsigned int _6;
  long unsigned int _8;
  long unsigned int _9;
  long unsigned int _10;
  long unsigned int _12;
  long unsigned int _13;
  short unsigned int _14;
  long unsigned int _15;
  long unsigned int _16;
  unsigned char end_sending.15_17;
  long unsigned int _18;
  long unsigned int _19;
  long unsigned int _20;
  long unsigned int _21;
  long unsigned int _22;
  long unsigned int timeout_ms.16_23;
  long unsigned int _24;
  long unsigned int _25;

  <bb 2> [local count: 113634470]:
  # DEBUG BEGIN_STMT
  # DEBUG server => &pfe_idex.remote.server
  # DEBUG BEGIN_STMT
  timeout_ms = 100;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  end_sending = 0;
  # DEBUG BEGIN_STMT
  # DEBUG request => &pfe_idex_request_frame.req
  # DEBUG BEGIN_STMT
  MEM[(struct pfe_idex_request_t *)&pfe_idex_request_frame + 22B] = {};
  # DEBUG BEGIN_STMT
  _1 = MEM[(struct pfe_remote_server_t *)&pfe_idex + 24B].seqnum;
  _2 = _1 >> 24;
  _4 = _1 >> 8;
  _5 = _4 & 65280;
  _6 = _2 | _5;
  _8 = _1 << 8;
  _9 = _8 & 16711680;
  _10 = _6 | _9;
  _12 = _1 << 24;
  _13 = _10 | _12;
  MEM[(struct pfe_idex_request_t *)&pfe_idex_request_frame + 18B].seqnum = _13;
  # DEBUG BEGIN_STMT
  MEM[(struct pfe_idex_request_t *)&pfe_idex_request_frame + 18B].type = type_39(D);
  # DEBUG BEGIN_STMT
  MEM[(struct pfe_idex_request_t *)&pfe_idex_request_frame + 18B].dst_phy_id = dst_phy_41(D);
  # DEBUG BEGIN_STMT
  MEM[(struct pfe_idex_request_t *)&pfe_idex_request_frame + 18B].state ={v} 0;
  # DEBUG BEGIN_STMT
  MEM[(struct pfe_remote_server_t *)&pfe_idex + 24B].request = &pfe_idex_request_frame.req;
  # DEBUG BEGIN_STMT
  MEM[(struct pfe_idex_request_t *)&pfe_idex_request_frame + 18B].state ={v} 1;
  # DEBUG BEGIN_STMT
  # DEBUG sending_counter => 0
  goto <bb 7>; [100.00%]

  <bb 3> [local count: 1034442874]:
  # DEBUG BEGIN_STMT
  _14 = data_len_48(D) + 37;
  ret_50 = pfe_idex_send_frame (dst_phy_41(D), 0, &pfe_idex_request_frame.req, _14);
  # DEBUG ret => ret_50
  # DEBUG BEGIN_STMT
  if (ret_50 != 0)
    goto <bb 4>; [3.66%]
  else
    goto <bb 5>; [96.34%]

  <bb 4> [local count: 37860609]:
  # sending_counter_3 = PHI <sending_counter_26(3)>
  # ret_11 = PHI <ret_50(3)>
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pfe_hm_report (1, 2, 1, "[%s:%d] IDEX request TX failed\n", "./tools/tresos_mcore_bsw/plugins/Eth_43_PFE_TS_T40D11M14I0R0/src/pfe_idex.c", 991, "");
  # DEBUG BEGIN_STMT
  oal_util_raise_dem_for_drv_runtime_err ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  goto <bb 8>; [100.00%]

  <bb 5> [local count: 996582265]:
  # DEBUG BEGIN_STMT
  _15 = pfe_idex.stats.tx_count;
  _16 = _15 + 1;
  pfe_idex.stats.tx_count = _16;
  # DEBUG BEGIN_STMT
  ret_53 = check_time_out (&timeout_ms, &end_sending, &pfe_idex_request_frame.req);
  # DEBUG ret => ret_53
  # DEBUG BEGIN_STMT
  end_sending.15_17 = end_sending;
  if (end_sending.15_17 == 1)
    goto <bb 8>; [3.66%]
  else
    goto <bb 6>; [96.34%]

  <bb 6> [local count: 960107354]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _18 = pfe_idex.stats.tx_retries;
  _19 = _18 + 1;
  pfe_idex.stats.tx_retries = _19;
  # DEBUG BEGIN_STMT
  _20 = pfe_idex.stats.tx_max_retries;
  _21 = sending_counter_26 + 1;
  _22 = MAX_EXPR <_20, _21>;
  pfe_idex.stats.tx_max_retries = _22;
  # DEBUG BEGIN_STMT
  # DEBUG sending_counter => _21

  <bb 7> [local count: 1073741824]:
  # sending_counter_26 = PHI <0(2), _21(6)>
  # ret_27 = PHI <ret_46(D)(2), ret_53(6)>
  # DEBUG ret => ret_27
  # DEBUG sending_counter => sending_counter_26
  # DEBUG BEGIN_STMT
  if (sending_counter_26 < resend_count_47(D))
    goto <bb 3>; [96.34%]
  else
    goto <bb 8>; [3.66%]

  <bb 8> [local count: 113634471]:
  # ret_28 = PHI <ret_11(4), ret_53(5), ret_27(7)>
  # sending_counter_7 = PHI <sending_counter_3(4), sending_counter_26(5), sending_counter_26(7)>
  # DEBUG ret => ret_28
  # DEBUG BEGIN_STMT
  if (ret_28 == 0)
    goto <bb 9>; [50.00%]
  else
    goto <bb 13>; [50.00%]

  <bb 9> [local count: 56817236]:
  # DEBUG BEGIN_STMT
  timeout_ms.16_23 = timeout_ms;
  if (timeout_ms.16_23 == 0)
    goto <bb 11>; [50.00%]
  else
    goto <bb 10>; [50.00%]

  <bb 10> [local count: 28408618]:
  if (sending_counter_7 == resend_count_47(D))
    goto <bb 11>; [34.00%]
  else
    goto <bb 12>; [66.00%]

  <bb 11> [local count: 38067548]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ret => 110

  <bb 12> [local count: 56817236]:
  # ret_29 = PHI <0(10), 110(11)>
  # DEBUG ret => ret_29
  # DEBUG BEGIN_STMT
  _24 = MEM[(struct pfe_remote_server_t *)&pfe_idex + 24B].seqnum;
  _25 = _24 + 1;
  MEM[(struct pfe_remote_server_t *)&pfe_idex + 24B].seqnum = _25;
  # DEBUG BEGIN_STMT
  MEM[(struct pfe_idex_request_t *)&pfe_idex_request_frame + 18B] = {};
  # DEBUG BEGIN_STMT
  MEM[(struct pfe_remote_server_t *)&pfe_idex + 24B].request = 0B;
  goto <bb 14>; [100.00%]

  <bb 13> [local count: 56817236]:
  # DEBUG BEGIN_STMT
  # DEBUG INLINE_ENTRY pfe_idex_down
  # DEBUG BEGIN_STMT
  pfe_idex.is_up = 0;

  <bb 14> [local count: 113634471]:
  # ret_30 = PHI <ret_29(12), ret_28(13)>
  # DEBUG ret => ret_30
  # DEBUG BEGIN_STMT
  timeout_ms ={v} {CLOBBER};
  end_sending ={v} {CLOBBER};
  return ret_30;

}


check_time_out (uint32_t * timeout_ms, bool_t * end_sending, struct pfe_idex_request_t * request)
{
  errno_t ret;
  <unnamed type> _1;
  <unnamed type> _2;
  unsigned char _3;
  long unsigned int _4;
  long unsigned int _5;
  long unsigned int _6;

  <bb 2> [local count: 113634470]:
  # DEBUG BEGIN_STMT
  # DEBUG ret => 0
  # DEBUG BEGIN_STMT
  *timeout_ms_12(D) = 100;
  goto <bb 11>; [100.00%]

  <bb 3> [local count: 1034442874]:
  # DEBUG BEGIN_STMT
  _1 ={v} request_14(D)->state;
  if (_1 == 2)
    goto <bb 4>; [3.66%]
  else
    goto <bb 5>; [96.34%]

  <bb 4> [local count: 37860609]:
  # DEBUG BEGIN_STMT
  # DEBUG ret => 0
  # DEBUG BEGIN_STMT
  *end_sending_19(D) = 1;
  # DEBUG BEGIN_STMT
  goto <bb 12>; [100.00%]

  <bb 5> [local count: 996582265]:
  # DEBUG BEGIN_STMT
  _2 ={v} request_14(D)->state;
  if (_2 == 255)
    goto <bb 6>; [3.66%]
  else
    goto <bb 7>; [96.34%]

  <bb 6> [local count: 36474911]:
  # DEBUG BEGIN_STMT
  # DEBUG ret => 117
  # DEBUG BEGIN_STMT
  *end_sending_19(D) = 1;
  # DEBUG BEGIN_STMT
  goto <bb 12>; [100.00%]

  <bb 7> [local count: 960107354]:
  # DEBUG BEGIN_STMT
  _3 = oal_irq_in_atomic ();
  if (_3 == 0)
    goto <bb 8>; [50.00%]
  else
    goto <bb 9>; [50.00%]

  <bb 8> [local count: 480053677]:
  # DEBUG BEGIN_STMT
  oal_time_msleep (1);
  goto <bb 10>; [100.00%]

  <bb 9> [local count: 480053677]:
  # DEBUG BEGIN_STMT
  oal_time_mdelay (1);

  <bb 10> [local count: 960107354]:
  # DEBUG BEGIN_STMT
  _4 = *timeout_ms_12(D);
  _5 = _4 + 4294967295;
  *timeout_ms_12(D) = _5;

  <bb 11> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  _6 = *timeout_ms_12(D);
  if (_6 != 0)
    goto <bb 3>; [96.34%]
  else
    goto <bb 12>; [3.66%]

  <bb 12> [local count: 113634471]:
  # ret_7 = PHI <0(4), 117(6), 0(11)>
  # DEBUG ret => ret_7
  # DEBUG BEGIN_STMT
  return ret_7;

}


pfe_idex_send_response (pfe_ct_phy_if_id_t dst_phy, pfe_idex_response_type_t type, pfe_idex_seqnum_t seqnum, uint16_t data_len)
{
  errno_t ret;
  struct pfe_remote_client_t * idex_current_client.7_1;
  struct pfe_idex_response_t * _2;
  long unsigned int _3;
  long unsigned int _4;
  long unsigned int _5;
  long unsigned int _6;
  long unsigned int _7;
  long unsigned int _8;
  long unsigned int _9;
  long unsigned int _10;
  long unsigned int _11;
  short unsigned int _12;
  short unsigned int _13;
  long unsigned int _14;
  long unsigned int _15;
  struct pfe_remote_client_t * idex_current_client.10_16;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  idex_current_client.7_1 = idex_current_client;
  _2 = idex_current_client.7_1->response;
  if (_2 != 0B)
    goto <bb 3>; [70.00%]
  else
    goto <bb 4>; [30.00%]

  <bb 3> [local count: 751619278]:
  # DEBUG BEGIN_STMT
  *_2 = {};
  # DEBUG BEGIN_STMT
  idex_current_client.7_1->response = 0B;

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG resp => &pfe_idex_response_frame.resp
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _3 = seqnum_22(D) >> 24;
  _4 = seqnum_22(D) >> 8;
  _5 = _4 & 65280;
  _6 = _3 | _5;
  _7 = seqnum_22(D) << 8;
  _8 = _7 & 16711680;
  _9 = _6 | _8;
  _10 = seqnum_22(D) << 24;
  _11 = _9 | _10;
  MEM[(struct pfe_idex_response_t *)&pfe_idex_response_frame + 18B].seqnum = _11;
  # DEBUG BEGIN_STMT
  MEM[(struct pfe_idex_response_t *)&pfe_idex_response_frame + 18B].type = type_24(D);
  # DEBUG BEGIN_STMT
  _12 = data_len_26(D) r>> 8;
  MEM[(struct pfe_idex_response_t *)&pfe_idex_response_frame + 18B].plen = _12;
  # DEBUG BEGIN_STMT
  _13 = data_len_26(D) + 7;
  ret_30 = pfe_idex_send_frame (dst_phy_28(D), 1, &pfe_idex_response_frame.resp, _13);
  # DEBUG ret => ret_30
  # DEBUG BEGIN_STMT
  if (ret_30 != 0)
    goto <bb 6>; [50.00%]
  else
    goto <bb 5>; [50.00%]

  <bb 5> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  _14 = pfe_idex.stats.tx_count;
  _15 = _14 + 1;
  pfe_idex.stats.tx_count = _15;

  <bb 6> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  idex_current_client.10_16 = idex_current_client;
  idex_current_client.10_16->response = &pfe_idex_response_frame.resp;
  # DEBUG BEGIN_STMT
  return ret_30;

}


pfe_idex_send_dummy_frame (pfe_ct_phy_if_id_t dst_phy)
{
  errno_t _4;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  _4 = pfe_idex_send_frame (dst_phy_2(D), 100, &pfe_idex_dummy_frame.dummy_data, 62);
  return _4;

}


pfe_idex_do_rx (struct pfe_hif_drv_client_t * hif_client, struct pfe_idex_t * idex)
{
  addr_t ret;
  struct pfe_idex_frame_header_t * idex_header;
  struct pfe_hif_pkt_t * pkt;
  long unsigned int _1;
  long unsigned int _2;
  unsigned int _3;
  unsigned char _4;
  long unsigned int _5;
  long unsigned int _6;
  <unnamed type> _7;
  <unnamed type> _22;

  <bb 2> [local count: 86959666]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pkt_14 = pfe_hif_drv_client_receive_pkt (hif_client_12(D), 0);
  # DEBUG pkt => pkt_14
  # DEBUG BEGIN_STMT
  if (pkt_14 == 0B)
    goto <bb 10>; [5.50%]
  else
    goto <bb 4>; [94.50%]

  <bb 4> [local count: 1014686025]:
  # DEBUG BEGIN_STMT
  _1 = pfe_idex.stats.rx_count;
  _2 = _1 + 1;
  pfe_idex.stats.rx_count = _2;
  # DEBUG BEGIN_STMT
  # DEBUG pkt => pkt_14
  # DEBUG INLINE_ENTRY pfe_hif_pkt_get_data
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  ret_16 = MEM[(const struct pfe_hif_pkt_t *)pkt_14].data;
  # DEBUG ret => ret_16
  # DEBUG BEGIN_STMT
  # DEBUG pkt => NULL
  # DEBUG ret => NULL
  _3 = ret_16 + 16;
  idex_header_17 = (struct pfe_idex_frame_header_t *) _3;
  # DEBUG idex_header => idex_header_17
  # DEBUG BEGIN_STMT
  _22 = MEM[(<unnamed type> *)pkt_14 + 16B];
  # DEBUG D#1 => pkt_14
  # DEBUG INLINE_ENTRY NULL
  # DEBUG pkt => D#1
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ret => _22
  # DEBUG BEGIN_STMT
  # DEBUG ret => NULL
  # DEBUG i_phy_id => _22
  # DEBUG BEGIN_STMT
  _4 = _22 + 250;
  if (_4 > 3)
    goto <bb 5>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 5> [local count: 507343012]:
  if (_22 != 4)
    goto <bb 6>; [5.50%]
  else
    goto <bb 7>; [94.50%]

  <bb 6> [local count: 27903866]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _5 = pfe_idex.stats.rx_aliens;
  _6 = _5 + 1;
  pfe_idex.stats.rx_aliens = _6;
  # DEBUG BEGIN_STMT
  goto <bb 10>; [100.00%]

  <bb 7> [local count: 986782159]:
  # DEBUG BEGIN_STMT
  _7 = idex_header_17->type;
  if (_7 == 0)
    goto <bb 8>; [33.00%]
  else
    goto <bb 9>; [67.00%]

  <bb 8> [local count: 325638113]:
<L6>:
  # DEBUG BEGIN_STMT
  process_idex_request (idex_19(D), idex_header_17, _22, pkt_14);
  # DEBUG BEGIN_STMT

  <bb 9> [local count: 986782160]:
  # DEBUG BEGIN_STMT
  pfe_hif_pkt_free (pkt_14);
  # DEBUG BEGIN_STMT
  goto <bb 3>; [100.00%]

  <bb 10> [local count: 86959666]:
  return;

}


process_idex_request (struct pfe_idex_t * idex, struct pfe_idex_frame_header_t * idex_header, pfe_ct_phy_if_id_t i_phy_id, const struct pfe_hif_pkt_t * const pkt)
{
  bool_t break_switch;
  pfe_idex_seqnum_t seqnum;
  void * rpc_msg_payload_ptr;
  uint32_t rpc_id;
  struct pfe_idex_msg_rpc_t * rpc_req;
  uint32_t client_index;
  struct pfe_idex_request_t * idex_req;
  struct pfe_remote_client_t * client;
  unsigned char _1;
  unsigned int _2;
  unsigned int idex_header.2_3;
  unsigned int _4;
  long unsigned int _5;
  long unsigned int _6;
  long unsigned int _7;
  long unsigned int _8;
  long unsigned int _9;
  long unsigned int _10;
  long unsigned int _11;
  long unsigned int _12;
  long unsigned int _13;
  long unsigned int client_index.3_14;
  <unnamed type> _15;
  long unsigned int _16;
  long unsigned int _17;
  unsigned int _18;
  long unsigned int _19;
  long unsigned int _20;
  long unsigned int _21;
  long unsigned int _22;
  long unsigned int _23;
  long unsigned int _24;
  long unsigned int _25;
  long unsigned int _26;
  long unsigned int _27;
  unsigned int _28;
  long unsigned int _29;
  long unsigned int _30;
  long unsigned int _31;
  long unsigned int _32;
  long unsigned int _33;
  long unsigned int _34;
  long unsigned int _35;
  long unsigned int _36;
  long unsigned int _37;
  long unsigned int _38;
  <unnamed type> _39;
  <unnamed type> _40;
  unsigned char break_switch.6_41;
  void (*<T9d5>) (pfe_ct_phy_if_id_t, uint32_t, void *, uint16_t, void *) _42;
  struct pfe_idex_msg_rpc_t * _43;
  void (*<T9d5>) (pfe_ct_phy_if_id_t, uint32_t, void *, uint16_t, void *) _44;
  short unsigned int _45;
  short unsigned int _46;
  void * _47;
  long unsigned int _48;
  long unsigned int _49;
  short unsigned int _65;

  <bb 2> [local count: 1073741823]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  client_index = 0;
  # DEBUG BEGIN_STMT
  # DEBUG ret => 0
  # DEBUG BEGIN_STMT
  # DEBUG rpc_req => 0B
  # DEBUG BEGIN_STMT
  # DEBUG rpc_id => 0
  # DEBUG BEGIN_STMT
  # DEBUG rpc_msg_payload_ptr => 0B
  # DEBUG BEGIN_STMT
  # DEBUG reset_req => 0B
  # DEBUG BEGIN_STMT
  _1 = get_client_index (i_phy_id_53(D), &client_index);
  if (_1 == 0)
    goto <bb 4>; [33.00%]
  else
    goto <bb 3>; [67.00%]

  <bb 3> [local count: 719407022]:
  # DEBUG ret => 0
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  idex_header.2_3 = (unsigned int) idex_header_57(D);
  _4 = idex_header.2_3 + 2;
  idex_req_58 = (struct pfe_idex_request_t *) _4;
  # DEBUG idex_req => idex_req_58
  # DEBUG BEGIN_STMT
  _5 = idex_req_58->seqnum;
  _6 = _5 >> 24;
  _7 = _5 >> 8;
  _8 = _7 & 65280;
  _9 = _6 | _8;
  _10 = _5 << 8;
  _11 = _10 & 16711680;
  _12 = _9 | _11;
  _13 = _5 << 24;
  seqnum_59 = _12 | _13;
  # DEBUG seqnum => seqnum_59
  # DEBUG BEGIN_STMT
  client_index.3_14 = client_index;
  client_61 = &idex_60(D)->remote.clients[client_index.3_14];
  # DEBUG client => client_61
  # DEBUG BEGIN_STMT
  MEM[(struct pfe_remote_client_t *)idex_60(D)].remote.clients[client_index.3_14].phy_id = i_phy_id_53(D);
  # DEBUG BEGIN_STMT
  idex_current_client = client_61;
  # DEBUG BEGIN_STMT
  _15 = idex_req_58->type;
  if (_15 == 1)
    goto <bb 5>; [34.00%]
  else
    goto <bb 13>; [66.00%]

  <bb 4> [local count: 354334802]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _2 = (unsigned int) i_phy_id_53(D);
  pfe_hm_report (1, 2, 1, "[%s:%d] Invalid HIF ID: %u\n", "./tools/tresos_mcore_bsw/plugins/Eth_43_PFE_TS_T40D11M14I0R0/src/pfe_idex.c", 553, _2, "");
  # DEBUG BEGIN_STMT
  oal_util_raise_dem_for_drv_runtime_err ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ret => 22
  # DEBUG BEGIN_STMT
  goto <bb 14>; [100.00%]

  <bb 5> [local count: 244598387]:
  # DEBUG BEGIN_STMT
  # DEBUG pkt => pkt_64(D)
  # DEBUG INLINE_ENTRY pfe_hif_pkt_get_data_len
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _65 = pkt_64(D)->len;
  # DEBUG ret => (uint32_t) _65
  # DEBUG BEGIN_STMT
  # DEBUG pkt => NULL
  # DEBUG ret => NULL
  if (_65 <= 64)
    goto <bb 6>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 6> [local count: 122299194]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _16 = pfe_idex.stats.rx_fails;
  _17 = _16 + 1;
  pfe_idex.stats.rx_fails = _17;
  # DEBUG BEGIN_STMT
  goto <bb 14>; [100.00%]

  <bb 7> [local count: 122299194]:
  # DEBUG BEGIN_STMT
  _18 = idex_header.2_3 + 39;
  rpc_req_66 = (struct pfe_idex_msg_rpc_t *) _18;
  # DEBUG rpc_req => rpc_req_66
  # DEBUG BEGIN_STMT
  _19 = rpc_req_66->rpc_id;
  _20 = _19 >> 24;
  _21 = _19 >> 8;
  _22 = _21 & 65280;
  _23 = _20 | _22;
  _24 = _19 << 8;
  _25 = _24 & 16711680;
  _26 = _23 | _25;
  _27 = _19 << 24;
  rpc_id_67 = _26 | _27;
  # DEBUG rpc_id => rpc_id_67
  # DEBUG BEGIN_STMT
  _28 = idex_header.2_3 + 49;
  rpc_msg_payload_ptr_68 = (void *) _28;
  # DEBUG rpc_msg_payload_ptr => rpc_msg_payload_ptr_68
  # DEBUG BEGIN_STMT
  if (rpc_id_67 == 4294967295)
    goto <bb 8>; [34.00%]
  else
    goto <bb 9>; [66.00%]

  <bb 8> [local count: 41581726]:
  # DEBUG BEGIN_STMT
  # DEBUG reset_req => rpc_msg_payload_ptr_68
  # DEBUG BEGIN_STMT
  _29 = MEM[(struct pfe_idex_msg_reset_t *)rpc_msg_payload_ptr_68].seqnum;
  _30 = _29 >> 24;
  _31 = _29 >> 8;
  _32 = _31 & 65280;
  _33 = _30 | _32;
  _34 = _29 << 8;
  _35 = _34 & 16711680;
  _36 = _33 | _35;
  _37 = _29 << 24;
  _38 = _36 | _37;
  MEM[(struct pfe_remote_client_t *)idex_60(D)].remote.clients[client_index.3_14].seqnum = _38;
  # DEBUG BEGIN_STMT
  _39 = MEM[(struct pfe_idex_msg_reset_t *)rpc_msg_payload_ptr_68].version;
  MEM[(struct pfe_remote_client_t *)idex_60(D)].remote.clients[client_index.3_14].version = _39;
  # DEBUG BEGIN_STMT
  autolibc_memcpy (&pfe_idex_response_frame.msg_rpc, rpc_req_66, 15);
  # DEBUG BEGIN_STMT
  _40 = MEM[(struct pfe_remote_client_t *)idex_60(D)].remote.clients[client_index.3_14].phy_id;
  pfe_idex_send_response (_40, 1, seqnum_59, 15);
  # DEBUG ret => NULL
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  goto <bb 14>; [100.00%]

  <bb 9> [local count: 80717468]:
  # DEBUG BEGIN_STMT
  break_switch = 0;
  # DEBUG BEGIN_STMT
  set_idex_sequence_number (client_61, seqnum_59, &break_switch);
  # DEBUG ret => NULL
  # DEBUG BEGIN_STMT
  break_switch.6_41 = break_switch;
  if (break_switch.6_41 == 1)
    goto <bb 11>; [34.00%]
  else
    goto <bb 10>; [66.00%]

  <bb 10> [local count: 53273529]:
  break_switch ={v} {CLOBBER};
  # DEBUG BEGIN_STMT
  _42 = idex_60(D)->rpc_cbk;
  if (_42 != 0B)
    goto <bb 12>; [53.47%]
  else
    goto <bb 14>; [46.53%]

  <bb 11> [local count: 27443939]:
  break_switch ={v} {CLOBBER};
  goto <bb 14>; [100.00%]

  <bb 12> [local count: 28485356]:
  # DEBUG BEGIN_STMT
  _43 = &MEM[(struct pfe_remote_client_t *)idex_60(D)].remote.clients[client_index.3_14].rpc_msg;
  autolibc_memcpy (_43, rpc_req_66, 10);
  # DEBUG BEGIN_STMT
  _44 = idex_60(D)->rpc_cbk;
  _45 = rpc_req_66->plen;
  _46 = _45 r>> 8;
  _47 = idex_60(D)->rpc_cbk_arg;
  _44 (i_phy_id_53(D), rpc_id_67, rpc_msg_payload_ptr_68, _46, _47);
  goto <bb 14>; [100.00%]

  <bb 13> [local count: 474808634]:
<L16>:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _48 = pfe_idex.stats.rx_unknowns;
  _49 = _48 + 1;
  pfe_idex.stats.rx_unknowns = _49;
  # DEBUG BEGIN_STMT

  <bb 14> [local count: 1073741824]:
  client_index ={v} {CLOBBER};
  return;

}


set_idex_sequence_number (struct pfe_remote_client_t * client, pfe_idex_seqnum_t seqnum, bool_t * break_switch)
{
  errno_t ret;
  <unnamed type> _1;
  long unsigned int _2;
  long unsigned int _3;
  long unsigned int _4;
  struct pfe_idex_response_t * _5;
  <unnamed type> _6;
  short unsigned int _7;
  short unsigned int _8;
  short unsigned int _9;
  long unsigned int _10;
  long unsigned int _11;
  long unsigned int _12;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG ret => 0
  # DEBUG BEGIN_STMT
  *break_switch_18(D) = 0;
  # DEBUG BEGIN_STMT
  _1 = client_20(D)->version;
  if (_1 > 1)
    goto <bb 3>; [59.00%]
  else
    goto <bb 10>; [41.00%]

  <bb 3> [local count: 633507677]:
  # DEBUG BEGIN_STMT
  _2 = client_20(D)->seqnum;
  if (_2 == seqnum_21(D))
    goto <bb 4>; [34.00%]
  else
    goto <bb 7>; [66.00%]

  <bb 4> [local count: 215392610]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _3 = pfe_idex.stats.rx_dups;
  _4 = _3 + 1;
  pfe_idex.stats.rx_dups = _4;
  # DEBUG BEGIN_STMT
  _5 = client_20(D)->response;
  if (_5 != 0B)
    goto <bb 5>; [53.47%]
  else
    goto <bb 6>; [46.53%]

  <bb 5> [local count: 115170429]:
  # DEBUG BEGIN_STMT
  _6 = client_20(D)->phy_id;
  _7 = _5->plen;
  _8 = _7 r>> 8;
  _9 = _8 + 7;
  ret_28 = pfe_idex_send_frame (_6, 1, _5, _9);
  # DEBUG ret => ret_28
  # DEBUG BEGIN_STMT

  <bb 6> [local count: 215392610]:
  # ret_13 = PHI <0(4), ret_28(5)>
  # DEBUG ret => ret_13
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  *break_switch_18(D) = 1;
  goto <bb 11>; [100.00%]

  <bb 7> [local count: 418115066]:
  # DEBUG BEGIN_STMT
  _10 = _2 + 1;
  if (_10 == seqnum_21(D))
    goto <bb 8>; [34.00%]
  else
    goto <bb 9>; [66.00%]

  <bb 8> [local count: 142159123]:
  # DEBUG BEGIN_STMT
  client_20(D)->seqnum = seqnum_21(D);
  goto <bb 11>; [100.00%]

  <bb 9> [local count: 275955944]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _11 = pfe_idex.stats.rx_fails;
  _12 = _11 + 1;
  pfe_idex.stats.rx_fails = _12;
  # DEBUG BEGIN_STMT
  *break_switch_18(D) = 1;
  goto <bb 11>; [100.00%]

  <bb 10> [local count: 440234148]:
  # DEBUG BEGIN_STMT
  client_20(D)->seqnum = seqnum_21(D);

  <bb 11> [local count: 1073741824]:
  # ret_14 = PHI <0(8), 0(10), ret_13(6), 0(9)>
  # DEBUG ret => ret_14
  # DEBUG BEGIN_STMT
  return ret_14;

}


get_client_index (pfe_ct_phy_if_id_t i_phy_id, uint32_t * const p_client_index)
{
  bool_t ret;
  unsigned char _1;
  long unsigned int _2;
  long unsigned int _3;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG ret => 1
  # DEBUG BEGIN_STMT
  _1 = i_phy_id_6(D) + 250;
  if (_1 <= 3)
    goto <bb 3>; [50.00%]
  else
    goto <bb 4>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  _2 = (long unsigned int) i_phy_id_6(D);
  _3 = _2 + 4294967290;
  *p_client_index_8(D) = _3;

  <bb 4> [local count: 1073741824]:
  # ret_4 = PHI <1(3), 0(2)>
  # DEBUG ret => ret_4
  # DEBUG BEGIN_STMT
  return ret_4;

}


pfe_idex_ihc_handler (struct pfe_hif_drv_client_t * client, void * arg, uint32_t event, uint32_t qno)
{
  errno_t ret;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ret => 0
  # DEBUG BEGIN_STMT
  if (event_3(D) == 0)
    goto <bb 3>; [47.77%]
  else
    goto <bb 4>; [52.23%]

  <bb 3> [local count: 512926469]:
<L0>:
  # DEBUG BEGIN_STMT
  pfe_idex_do_rx (client_5(D), &pfe_idex);
  # DEBUG BEGIN_STMT

  <bb 4> [local count: 1073741824]:
  # ret_1 = PHI <0(3), 22(2)>
  # DEBUG ret => ret_1
  # DEBUG BEGIN_STMT
  return ret_1;

}


