Dump after hash based groups
Congruence classes: 30 (unique hash values: 30), with total: 37 items
Class size histogram [num of members]: number of classe number of classess
[1]: 25 classes
[2]: 3 classes
[3]: 2 classes


Dump after WPA based types groups
Congruence classes: 30 (unique hash values: 30), with total: 37 items
Class size histogram [num of members]: number of classe number of classess
[1]: 25 classes
[2]: 3 classes
[3]: 2 classes


Worklist has been filled with: 28
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 30 (unique hash values: 30), with total: 37 items
Class size histogram [num of members]: number of classe number of classess
[1]: 25 classes
[2]: 3 classes
[3]: 2 classes


Init called for 12 items (32.43%).
Dump after full equality comparison of groups
Congruence classes: 30 (unique hash values: 30), with total: 37 items
Class size histogram [num of members]: number of classe number of classess
[1]: 25 classes
[2]: 3 classes
[3]: 2 classes


Worklist has been filled with: 28
Address reference subdivision created: 0 new classes.
Congruence classes: 30 (unique hash values: 30), with total: 37 items
Class size histogram [num of members]: number of classe number of classess
[1]: 25 classes
[2]: 3 classes
[3]: 2 classes



Item count: 37
Congruent classes before: 30, after: 30
Average class size before: 1.23, after: 1.23
Average non-singular class size: 2.40, count: 5
Equal symbols: 7
Fraction of visited symbols: 18.92%

Semantic equality hit:Power_Ip_MC_ME_aPartition0CoreConfigPB_0_VS_0->Power_Ip_MC_ME_aPartition0CoreConfigPB_1_VS_0
Assembler symbol names:Power_Ip_MC_ME_aPartition0CoreConfigPB_0_VS_0->Power_Ip_MC_ME_aPartition0CoreConfigPB_1_VS_0
Not unifying; address of original may be compared.

Semantic equality hit:Power_Ip_MC_ME_aPartition0CoreConfigPB_0_VS_0->Power_Ip_MC_ME_aPartition0CoreConfigPB_2_VS_0
Assembler symbol names:Power_Ip_MC_ME_aPartition0CoreConfigPB_0_VS_0->Power_Ip_MC_ME_aPartition0CoreConfigPB_2_VS_0
Not unifying; address of original may be compared.

Semantic equality hit:Power_Ip_MC_ME_aPartition0CofbConfigPB_0_VS_0->Power_Ip_MC_ME_aPartition0CofbConfigPB_1_VS_0
Assembler symbol names:Power_Ip_MC_ME_aPartition0CofbConfigPB_0_VS_0->Power_Ip_MC_ME_aPartition0CofbConfigPB_1_VS_0
Not unifying; address of original may be compared.

Semantic equality hit:Power_Ip_MC_ME_aPartition2CofbConfigPB_1_VS_0->Power_Ip_MC_ME_aPartition2CofbConfigPB_2_VS_0
Assembler symbol names:Power_Ip_MC_ME_aPartition2CofbConfigPB_1_VS_0->Power_Ip_MC_ME_aPartition2CofbConfigPB_2_VS_0
Not unifying; address of original may be compared.

Semantic equality hit:Power_Ip_MC_RGM_aDomain0CoreConfigPB_0_VS_0->Power_Ip_MC_RGM_aDomain0CoreConfigPB_1_VS_0
Assembler symbol names:Power_Ip_MC_RGM_aDomain0CoreConfigPB_0_VS_0->Power_Ip_MC_RGM_aDomain0CoreConfigPB_1_VS_0
Not unifying; address of original may be compared.

Semantic equality hit:Power_Ip_MC_RGM_aDomain0CoreConfigPB_0_VS_0->Power_Ip_MC_RGM_aDomain0CoreConfigPB_2_VS_0
Assembler symbol names:Power_Ip_MC_RGM_aDomain0CoreConfigPB_0_VS_0->Power_Ip_MC_RGM_aDomain0CoreConfigPB_2_VS_0
Not unifying; address of original may be compared.

Semantic equality hit:Power_Ip_MC_RGM_aDomain0CofbConfigPB_1_VS_0->Power_Ip_MC_RGM_aDomain0CofbConfigPB_2_VS_0
Assembler symbol names:Power_Ip_MC_RGM_aDomain0CofbConfigPB_1_VS_0->Power_Ip_MC_RGM_aDomain0CofbConfigPB_2_VS_0
Not unifying; address of original may be compared.

