Parsed function:SampleAppGptInit
Parsed function:EthSwt_Tst_PitNotification
Dump after hash based groups
Congruence classes: 2 (unique hash values: 2), with total: 2 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes


Dump after WPA based types groups
Congruence classes: 2 (unique hash values: 2), with total: 2 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes


Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 2 (unique hash values: 2), with total: 2 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes


Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 2 (unique hash values: 2), with total: 2 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes


Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Congruence classes: 2 (unique hash values: 2), with total: 2 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes



Item count: 2
Congruent classes before: 2, after: 2
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Fraction of visited symbols: 0.00%

SampleAppGptInit ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  Gpt_Init (0B);
  # DEBUG BEGIN_STMT
  Gpt_EnableNotification (0);
  # DEBUG BEGIN_STMT
  Gpt_StartTimer (0, 133333);
  # DEBUG BEGIN_STMT
  return 0;

}


EthSwt_Tst_PitNotification ()
{
  long unsigned int pitIsrCount.0_1;
  long unsigned int _2;
  long unsigned int g_sys_milliseconds.1_3;
  long unsigned int _4;
  short unsigned int gptNotificationCount.2_5;
  short unsigned int _6;
  short unsigned int gptNotificationCount.4_7;
  short unsigned int _8;
  short unsigned int gptNotificationCount.5_9;
  short unsigned int _10;
  short unsigned int gptNotificationCount.6_11;
  short unsigned int _12;
  short unsigned int gptNotificationCount.7_13;
  short unsigned int _14;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  pitIsrCount.0_1 ={v} pitIsrCount;
  _2 = pitIsrCount.0_1 + 1;
  pitIsrCount ={v} _2;
  # DEBUG BEGIN_STMT
  g_sys_milliseconds.1_3 = g_sys_milliseconds;
  _4 = g_sys_milliseconds.1_3 + 1;
  g_sys_milliseconds = _4;
  # DEBUG BEGIN_STMT
  gptNotificationCount.2_5 ={v} gptNotificationCount;
  _6 = gptNotificationCount.2_5 + 1;
  gptNotificationCount ={v} _6;
  # DEBUG BEGIN_STMT
  gptNotificationCount.4_7 ={v} gptNotificationCount;
  _8 = gptNotificationCount.4_7 % 100;
  if (_8 == 0)
    goto <bb 3>; [50.00%]
  else
    goto <bb 4>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  pfeMainFunction ={v} 1;

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  gptNotificationCount.5_9 ={v} gptNotificationCount;
  _10 = gptNotificationCount.5_9 % 50;
  if (_10 == 0)
    goto <bb 5>; [50.00%]
  else
    goto <bb 6>; [50.00%]

  <bb 5> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  switchMainFunction ={v} 1;

  <bb 6> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  gptNotificationCount.6_11 ={v} gptNotificationCount;
  _12 = gptNotificationCount.6_11 % 1000;
  if (_12 == 0)
    goto <bb 7>; [50.00%]
  else
    goto <bb 8>; [50.00%]

  <bb 7> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  sendFrames ={v} 1;

  <bb 8> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  gptNotificationCount.7_13 ={v} gptNotificationCount;
  _14 = gptNotificationCount.7_13 % 500;
  if (_14 == 0)
    goto <bb 9>; [50.00%]
  else
    goto <bb 10>; [50.00%]

  <bb 9> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  getCounters ={v} 1;

  <bb 10> [local count: 1073741824]:
  return;

}


