# Use this interpreter for install and execution on this workspace:
#   C:/LegacyApp/python/3.10.0/python.exe -m pip install -r requirements.txt
#   C:/LegacyApp/python/3.10.0/python.exe dbc_to_c_generator.py
cantools
openpyxl

soa_adapter_generator.py
This python script is used CANdbc_file.dbc  and S2S_HPC_A_SAG.xlsx as input file to generated soa_adapter_cnf.c  and soa_adapter_cnf.h 
so you should check CANdbc_file.dbc  and S2S_HPC_A_SAG.xlsx then use soa_adapter_generator.py;